.Ocv{
    
    margin-top: calc(150px + 3vw);
}
.Ocv1{
    text-align: right;
}


@media only screen and (min-device-width : 300px) and (max-device-width : 767px) {
    .onColor{
        color: #adadad;
        margin-top: -0.3vw;
        font-family: aleta-light;
    }
    .onColorClicked{
        color: red;
        margin-top: -0.8vw;
        font-family: aleta-light;
        cursor: pointer;
    }

    .Empathy{
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-image: url('https://res.cloudinary.com/dxk0bmtei/image/upload/v1585560346/Empathy_mobile_onqtrt.png');
        background-size: cover;
        background-position-x: center;
        background-color: #f2f2f2;
        height: 20.5vw;
        box-shadow: 0px 2px 1vw rgba(0, 0 ,0 , 0.18);
        height: 40.5vw;
        border-radius: 3vw;
    }
    .Transparency{
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-image: url('https://res.cloudinary.com/dxk0bmtei/image/upload/v1585560348/Transparency_mobile_fb9ped.png');
        background-size: cover;
        background-position-x: center;
        background-color: #f2f2f2;
        height: 20.5vw;
        box-shadow: 0px 2px 1vw rgba(0, 0 ,0 , 0.18);
        height: 40.5vw;
        border-radius: 3vw;
    }
    .listenCarefull{
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-image: url(../../../Assets/Images/coreValue/listen-carefully-01.jpg);
        background-size: cover;
        background-position-x: center;
        background-color: #f2f2f2;
        height: 20.5vw;
        box-shadow: 0px 2px 1vw rgba(0, 0 ,0 , 0.18);
        height: 40.5vw;
        border-radius: 3vw;
    }
    .beHonest{
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-image: url("https://res.cloudinary.com/dxk0bmtei/image/upload/v1585560354/honesty_mobile_qnh0q8.png");
        background-size: cover;
        background-position-x: center;
        background-color: #f2f2f2;
        height: 20.5vw;
        box-shadow: 0px 2px 1vw rgba(0, 0 ,0 , 0.18);
        height: 40.5vw;
        border-radius: 3vw;
    }
    .beCreative{
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-image: url('https://res.cloudinary.com/dxk0bmtei/image/upload/v1585560349/creativity_mobile_mqi8qw.png');
        background-size: cover;
        background-position-x: center;
        background-color: #f2f2f2;
        height: 20.5vw;
        box-shadow: 0px 2px 1vw rgba(0, 0 ,0 , 0.18);
        height: 40.5vw;
        border-radius: 3vw;
    }
    .beArtistic{
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-image: url(../../../Assets/Images/coreValue/be-artistic-01.jpg);
        background-size: cover;
        background-position-x: center;
        background-color: #f2f2f2;
        height: 20.5vw;
        box-shadow: 0px 2px 1vw rgba(0, 0 ,0 , 0.18);
        height: 40.5vw;
        border-radius: 3vw;
    }

    .Ocv2{
        font-size: calc(12px + 1.9vw);
        font-family: aleta-bold;
        color: white;
    }
    .mobPading{
        padding: 0;
    }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1023px) {
    .onColor{
        color: #adadad;
        margin-top: -0.8vw;
        font-family: aleta-light;
    }
    .onColorClicked{
        color: red;
        margin-top: -0.8vw;
        font-family: aleta-light;
        cursor: pointer;
    }
    .Empathy{
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-image: url("https://res.cloudinary.com/dxk0bmtei/image/upload/v1585555065/empathy_o0cfmq.png");
        background-size: cover;
        background-position-x: center;
        background-color: #f2f2f2;
        height: 24.5vw;
        box-shadow: 0px 2px 1vw rgba(0, 0 ,0 , 0.18);
        border-radius: 2vw;
        margin-top: 1.5vw;
    }
    .Transparency{
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-image: url("https://res.cloudinary.com/dxk0bmtei/image/upload/v1585555063/transparency_jyav48.png");
        background-size: cover;
        background-position-x: center;
        background-color: #f2f2f2;
        height: 24.5vw;
        box-shadow: 0px 2px 1vw rgba(0, 0 ,0 , 0.18);
        border-radius: 2vw;
        margin-top: 1.5vw;
    }
    .listenCarefull{
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-image: url(../../../Assets/Images/coreValue/listen-carefully-01.jpg);
        background-size: cover;
        background-position-x: center;
        background-color: #f2f2f2;
        height: 24.5vw;
        box-shadow: 0px 2px 1vw rgba(0, 0 ,0 , 0.18);
        border-radius: 2vw;
        margin-top: 1.5vw;
    }
    .beHonest{
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-image: url("https://res.cloudinary.com/dxk0bmtei/image/upload/v1585558958/honesty_1_tcff0a.png");
        background-size: cover;
        background-position-x: center;
        background-color: #f2f2f2;
        height: 24.5vw;
        box-shadow: 0px 2px 1vw rgba(0, 0 ,0 , 0.18);
        border-radius: 2vw;
        margin-top: 1.5vw;
    }
    .beCreative{
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-image: url("https://res.cloudinary.com/dxk0bmtei/image/upload/v1585559160/creativity_ze2pvt.png");
        background-size: cover;
        background-position-x: center;
        background-color: #f2f2f2;
        height: 24.5vw;
        box-shadow: 0px 2px 1vw rgba(0, 0 ,0 , 0.18);
        border-radius: 2vw;
        margin-top: 1.5vw;
    }
    .beArtistic{
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-image: url(../../../Assets/Images/coreValue/be-artistic-01.jpg);
        background-size: cover;
        background-position-x: center;
        background-color: #f2f2f2;
        height: 24.5vw;
        box-shadow: 0px 2px 1vw rgba(0, 0 ,0 , 0.18);
        border-radius: 2vw;
        margin-top: 1.5vw;
    }
    .Ocv2{
        font-size: calc(12px + 1.9vw);
        font-family: aleta-bold;
        color: white;
    }
}
@media only screen and (min-device-width : 1024px) and (max-device-width : 1365px) {
    .onColor{
        color: #adadad;
        margin-top: 1vw;
        font-size: calc(12px + 0.4vw);
        font-family: aleta-light;
    }
    .onColorClicked{
        color: red;
        margin-top: 1vw;
        font-size: calc(12px + 0.4vw);
        font-family: aleta-light;
        cursor: pointer;
    }
    .Empathy{
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-image: url("https://res.cloudinary.com/dxk0bmtei/image/upload/v1585555065/empathy_o0cfmq.png");
        background-size: cover;
        background-position-x: center;
        background-color: #f2f2f2;
        height: 21.5vw;
        box-shadow: 0px 2px 1vw rgba(0, 0 ,0 , 0.18);
        border-radius: 2vw;
        margin-top: 1.5vw;
    }
    .Transparency{
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-image: url("https://res.cloudinary.com/dxk0bmtei/image/upload/v1585555063/transparency_jyav48.png");
        background-size: cover;
        background-position-x: center;
        background-color: #f2f2f2;
        height: 21.5vw;
        box-shadow: 0px 2px 1vw rgba(0, 0 ,0 , 0.18);
        border-radius: 2vw;
        margin-top: 1.5vw;
    }
    .listenCarefull{
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-image: url(../../../Assets/Images/coreValue/listen-carefully-01.jpg);
        background-size: cover;
        background-position-x: center;
        background-color: #f2f2f2;
        height: 21.5vw;
        box-shadow: 0px 2px 1vw rgba(0, 0 ,0 , 0.18);
        border-radius: 2vw;
        margin-top: 1.5vw;
    }
    .beHonest{
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-image: url("https://res.cloudinary.com/dxk0bmtei/image/upload/v1585558958/honesty_1_tcff0a.png");
        background-size: cover;
        background-position-x: center;
        background-color: #f2f2f2;
        height: 21.5vw;
        box-shadow: 0px 2px 1vw rgba(0, 0 ,0 , 0.18);
        border-radius: 2vw;
        margin-top: 1.5vw;
    }
    .beCreative{
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-image: url("https://res.cloudinary.com/dxk0bmtei/image/upload/v1585559160/creativity_ze2pvt.png");
        background-size: cover;
        background-position-x: center;
        background-color: #f2f2f2;
        height: 21.5vw;
        box-shadow: 0px 2px 1vw rgba(0, 0 ,0 , 0.18);
        border-radius: 2vw;
        margin-top: 1.5vw;
    }
    .beArtistic{
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-image: url(../../../Assets/Images/coreValue/be-artistic-01.jpg);
        background-size: cover;
        background-position-x: center;
        background-color: #f2f2f2;
        height: 21.5vw;
        box-shadow: 0px 2px 1vw rgba(0, 0 ,0 , 0.18);
        border-radius: 2vw;
        margin-top: 1.5vw;
    }
    .Ocv2{
        font-size: calc(12px + 1.9vw);
        font-family: aleta-bold;
        margin-top: 0.5vw;
        color: white;
    }
}
@media only screen and (min-device-width : 1366px) and (max-device-width : 1600px) {
    .onColor{
        color: #adadad;
        margin-top: 1.5vw;
        font-size: calc(12px + 0.4vw);
        font-family: aleta-light;
    }
    .onColorClicked{
        color: red;
        margin-top: 1.5vw;
        font-size: calc(12px + 0.4vw);
        font-family: aleta-light;
        cursor: pointer;
    }
    .Empathy{
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-image: url("https://res.cloudinary.com/dxk0bmtei/image/upload/v1585555065/empathy_o0cfmq.png");
        background-size: cover;
        background-position-x: center;
        background-color: #f2f2f2;
        height: 20.5vw;
        box-shadow: 0px 2px 1vw rgba(0, 0 ,0 , 0.18);
        border-radius: 2vw;
        margin-top: 1.5vw;
    }
    .Transparency{
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-image: url("https://res.cloudinary.com/dxk0bmtei/image/upload/v1585555063/transparency_jyav48.png");
        background-size: cover;
        background-position-x: center;
        background-color: #f2f2f2;
        height: 20.5vw;
        box-shadow: 0px 2px 1vw rgba(0, 0 ,0 , 0.18);
        border-radius: 2vw;
        margin-top: 1.5vw;
    }
    .listenCarefull{
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-image: url(../../../Assets/Images/coreValue/listen-carefully-01.jpg);
        background-size: cover;
        background-position-x: center;
        background-color: #f2f2f2;
        height: 20.5vw;
        box-shadow: 0px 2px 1vw rgba(0, 0 ,0 , 0.18);
        border-radius: 2vw;
        margin-top: 1.5vw;
    }
    .beHonest{
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-image: url("https://res.cloudinary.com/dxk0bmtei/image/upload/v1585558958/honesty_1_tcff0a.png");
        background-size: cover;
        background-position-x: center;
        background-color: #f2f2f2;
        height: 20.5vw;
        box-shadow: 0px 2px 1vw rgba(0, 0 ,0 , 0.18);
        border-radius: 2vw;
        margin-top: 1.5vw;
    }
    .beCreative{
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-image: url("https://res.cloudinary.com/dxk0bmtei/image/upload/v1585559160/creativity_ze2pvt.png");
        background-size: cover;
        background-position-x: center;
        background-color: #f2f2f2;
        height: 20.5vw;
        box-shadow: 0px 2px 1vw rgba(0, 0 ,0 , 0.18);
        border-radius: 2vw;
        margin-top: 1.5vw;
    }
    .beArtistic{
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-image: url(../../../Assets/Images/coreValue/be-artistic-01.jpg);
        background-size: cover;
        background-position-x: center;
        background-color: #f2f2f2;
        height: 20.5vw;
        box-shadow: 0px 2px 1vw rgba(0, 0 ,0 , 0.18);
        border-radius: 2vw;
        margin-top: 1.5vw;
    }
    .Ocv2{
        font-size: calc(12px + 1.9vw);
        font-family: aleta-bold;
        margin-top: 0.5vw;
        color: white;
}
    
}
@media only screen and (min-device-width : 1600px) {
    .onColor{
        color: #adadad;
        margin-top: 1.5vw;
        font-size: calc(12px + 0.6vw);
        font-family: aleta-light;
    }
    .onColorClicked{
        color: red;
        margin-top: 1.5vw;
        font-size: calc(12px + 0.6vw);
        font-family: aleta-light;
        cursor: pointer;
    }
    .Empathy{
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-image: url("https://res.cloudinary.com/dxk0bmtei/image/upload/v1585555065/empathy_o0cfmq.png");
        background-size: cover;
        background-position-x: center;
        background-color: #f2f2f2;
        height: 20.5vw;
        box-shadow: 0px 2px 1vw rgba(0, 0 ,0 , 0.18);
        border-radius: 2vw;
        margin-top: 1.5vw;
    }
    .Transparency{
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-image: url("https://res.cloudinary.com/dxk0bmtei/image/upload/v1585555063/transparency_jyav48.png");
        background-size: cover;
        background-position-x: center;
        background-color: #f2f2f2;
        height: 20.5vw;
        box-shadow: 0px 2px 1vw rgba(0, 0 ,0 , 0.18);
        border-radius: 2vw;
        margin-top: 1.5vw;
    }
    .listenCarefull{
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-image: url(../../../Assets/Images/coreValue/listen-carefully-01.jpg);
        background-size: cover;
        background-position-x: center;
        background-color: #f2f2f2;
        height: 20.5vw;
        box-shadow: 0px 2px 1vw rgba(0, 0 ,0 , 0.18);
        border-radius: 2vw;
        margin-top: 1.5vw;
    }
    .beHonest{
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-image: url("https://res.cloudinary.com/dxk0bmtei/image/upload/v1585558958/honesty_1_tcff0a.png");
        background-size: cover;
        background-position-x: center;
        background-color: #f2f2f2;
        height: 20.5vw;
        box-shadow: 0px 2px 1vw rgba(0, 0 ,0 , 0.18);
        border-radius: 2vw;
        margin-top: 1.5vw;
    }
    .beCreative{
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-image: url("https://res.cloudinary.com/dxk0bmtei/image/upload/v1585559160/creativity_ze2pvt.png");
        background-size: cover;
        background-position-x: center;
        background-color: #f2f2f2;
        height: 20.5vw;
        box-shadow: 0px 2px 1vw rgba(0, 0 ,0 , 0.18);
        border-radius: 2vw;
        margin-top: 1.5vw;
    }
    .beArtistic{
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-image: url(../../../Assets/Images/coreValue/be-artistic-01.jpg);
        background-size: cover;
        background-position-x: center;
        background-color: #f2f2f2;
        height: 20.5vw;
        box-shadow: 0px 2px 1vw rgba(0, 0 ,0 , 0.18);
        border-radius: 2vw;
        margin-top: 1.5vw;
    }
    .Ocv2{
        font-size: calc(12px + 1.9vw);
        font-family: aleta-bold;
        margin-top: 0.6vw;
        color: white;
    }
}
.mobPading{
    /* padding: 0; */
}
.onColor:hover {
    color: red;
    cursor: pointer;
}

.onColor_mob{
    color: #adadad;
    font-family: aleta-light;
    font-size: 5vw;
    margin-top: 4.5vw;
}
.onColor_mob:hover {
    color: red;
    cursor: pointer;
}
.onColor_mob_emp{
    color: red;
    font-family: aleta-light;
    font-size: 5vw;
    margin-top: 4.5vw;
}
.Ocv2_mob{
    font-size: 7vw;
    font-family: aleta-bold;
    text-align: center;
    padding-top: 10vw;
    color: white;
}
.Ocv3_mob{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-image: url(../../../Assets/Images/acf.png);
    background-size: cover;
    background-position-x: center;
    background-color: #f2f2f2;
    height: 20.5vw;
    box-shadow: 0px 2px 1vw rgba(0, 0 ,0 , 0.18);
    height: 40.5vw;
    margin-left: -4.5vw;
    width: 83.5vw;
    border-radius: 3vw;
}