.webHedng{
    font-family: aleta-bold;
    font-size: calc(12px + 0.7vmax);
    margin-top: 10vmax;
    color: black;
}
.videoDemo{ 
    height: 38vmax; 
    /* border-radius: 1vmax; */
    margin-top: 3vmax;
    width: 100%;
}