
/*Freshh new Css Projects by Daniyal*/

/* .ant-tabs-nav-scroll {
    overflow: hidden;
   white-space: nowrap;
}

.ant-tabs-ink-bar {
   z-index: 1;
   position: absolute;
   left: 0;
   bottom: 1px;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   height: 2px;
   background-color: rgb(34, 95, 86);;
   -webkit-transform-origin: 0 0;
   -ms-transform-origin: 0 0;
   transform-origin: 0 0;
}

.ant-tabs-nav .ant-tabs-tab-active {
   color: rgb(34, 95, 86)!important;
   background-color: #E5E1D6 !important;
}

.ant-tabs-nav-container {
    overflow: hidden;
    font-size: 14px;
    text-align: center;
    line-height: 1.5;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    white-space: nowrap;
    margin-bottom: -1px;
    -webkit-transition: padding 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: padding 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: padding 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    zoom: 1;
}
.ant-tabs-bar {
    border-bottom: 1px solid #e8e8e8;
    margin: 0 0 0 0;
    outline: none;
    -webkit-transition: padding 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: padding 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: padding 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
} */


@media only screen and (min-device-width : 360px) and (max-device-width : 767px) {
    .LightFProject {
        background-image: url("../../Assets/Images/DSC00144-treated-min.jpg");
        height: 30.5vmax;
        border-radius: 3vw;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position-x: right;
        margin-bottom: calc(15vw - -6.5vmax);
    }
    .GetFitProject {
        background-image: url("../../Assets/Images/getfit.png");
        height: 30.5vmax;
        border-radius: 3vw;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position-x: right;
        margin-bottom: calc(15vw - -6.5vmax);
    }
    .CircleProject {
        background-image: url("../../Assets/Images/circle.jpg");
        height: 30.5vmax;
        border-radius: 3vw;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position-x: right;
        margin-bottom: calc(15vw - -6.5vmax);
    }
    .ZiyaratProject {
        background-image: url("../../Assets/Images/ProjectImages/Ziyarat.jpg");
        height: 30.5vmax;
        border-radius: 3vw;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position-y: bottom;
        margin-bottom: calc(15vw - -6.5vmax);
    }
    .DallasPalmProject {
        background-image: url("../../Assets/Images/dallaspalm.png");
        height: 30.5vmax;
        border-radius: 3vw;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position-y: top;
        margin-bottom: calc(15vw - -6.5vmax);
    }
    .SiddiqSonsProject{
        background-image: url('../../Assets/Images/siddiqsons-min.jpg');
        height: 30.5vmax;
        border-radius: 3vw;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position-x: right;
        margin-bottom: calc(15vw - -6.5vmax);
    }
    .DrentProject{
        background-image: url("../../Assets/Images/drent.png");
        height: 30.5vmax;
        border-radius: 3vw;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position-y: right;
        margin-bottom: calc(15vw - -6.5vmax);
        margin-top: 20vw;
    }
    .ACFProject {
        background-image: url("../../Assets/Images/ACF-Image-min.jpg");
        height: 30.5vmax;
        border-radius: 3vw;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position-y: right;
        margin-bottom: calc(15vw - -6.5vmax);
        margin-top: 20vw;
    }
    .PakJazbaProject {
        background-image: url("../../Assets/Images/ProjectImages/pakjazba.jpg");
        height: 30.5vmax;
        border-radius: 3vw;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position-y: right;
        margin-bottom: calc(15vw - -6.5vmax);
        margin-top: 20vw;
    }
    .OxbridgeProject {
        background-image: url("../../Assets/Images/ProjectImages/oxbridge.jpg");
        height: 30.5vmax;
        border-radius: 3vw;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position-y: right;
        margin-bottom: calc(15vw - -6.5vmax);
        margin-top: 20vw;
    }
    .AmberDazelProject {
        background-image: url("https://res.cloudinary.com/dxk0bmtei/image/upload/v1579702268/amber-dazzle-image_egxm3v.jpg");
        height: 30.5vmax;
        border-radius: 3vw;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position-y: right;
        margin-bottom: calc(15vw - -6.5vmax);
        margin-top: 20vw;
    }

    .bgChildProject{
        color: #fafafa;
        background-color: #fafafa;
        border-radius: 3vw;
        box-shadow: 0px 2px 3.3vmax rgba(0, 0 ,0 , 0.12);
    }
    .bigProjectLeft{
        padding-top: 17vw;
        padding-left: 4.3vw;
    }
    .ADBhedngProject{
        padding-top: 4.2vw;
        padding-left: 4vw;
        padding-bottom: 3.2vw;
        font-size: 2.6vmax;
        font-family: aleta-bold;
        color: #ffffff;
    }  
    .ADB_BgChildProject{
        color: #fafafa;
        background-color: #fafafa;
        border-radius: 3vw;
        box-shadow: 0px 2px 3.3vmax rgba(0, 0 ,0 , 0.12);
    }
    .GFAhedngProjects{
        padding-top: 4.2vw;
        padding-left: 3.1vw;
        padding-bottom: 4.2vw;
        font-size: 2.6vmax;
        font-family: aleta-bold;
        color: #ffffff;
    }

    .SiddiqHomeProject{
        background-image: url('../../Assets/Images/siddiqsons-min.jpg');
        height: 30.5vmax;
        border-radius: 3vw;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position-x: right;
        /* margin-bottom: 7vmax; */
        margin-left: 4.3vw;
        margin-bottom: calc(15vw - -9.5vmax);
    }
    .LightFHomeProject {
        background-image: url("../../Assets/Images/DSC00144-treated-min.jpg");
        height: 30.5vmax;
        border-radius: 3vw;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position-x: right;
        margin-bottom: calc(15vw - -9.5vmax);
        margin-top: 15vw;
        margin-left: 4.3vw;
    }
    .ACFHomeProject {
        background-image: url("../../Assets/Images/ACF-Image-min.jpg");
        height: 33.5vmax;
        border-radius: 3vw;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position-x: right;
        /* margin-bottom: 11vmax; */
        margin-left: 4.3vw;
        margin-bottom: calc(15vw - -9.5vmax);
    }
    .ProjectHomeRightText{
        padding-top: 4.2vw;
        padding-left: 4vw;
        padding-bottom: 3.2vw;
        font-size: 2.6vmax;
        font-family: aleta-bold;
        color: #ffffff;
    } 
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1023px) {
    .LightFProject {
        background-image: url("../../Assets/Images/DSC00144-treated-min.jpg");
        height: 26.5vmax;
        border-radius: 1vw;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position-x: bottom;
    }
    .GetFitProject {
        background-image: url("../../Assets/Images/getfit.png");
        height: 26.5vmax;
        border-radius: 1vw;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position-x: right;
    }
    .CircleProject {
        background-image: url("../../Assets/Images/circle.jpg");
        height: 26.5vmax;
        border-radius: 1vw;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position-x: right;
    }
    .ZiyaratProject {
        background-image: url("../../Assets/Images/ProjectImages/Ziyarat.jpg");
        height: 26.5vmax;
        border-radius: 1vw;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position-x: right;
    }
    .DallasPalmProject {
        background-image: url("../../Assets/Images/dallaspalm.png");
        height: 26.5vmax;
        border-radius: 1vw;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position-x: right;
    }
    .SiddiqSonsProject{
        background-image: url('../../Assets/Images/siddiqsons-min.jpg');
        height: 26.5vmax;
        border-radius: 1vw;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position-x: right;
    }
    .DrentProject{
        background-image: url("../../Assets/Images/drent.png");
        height: 26.5vmax;
        border-radius: 1vw;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position-x: right;
        margin-top: -20vw;
    }
    .ACFProject {
        background-image: url("../../Assets/Images/ACF-Image-min.jpg");
        height: 26.5vmax;
        border-radius: 1vw;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position-x: right;
        margin-top: -20vw;
    }
    .PakJazbaProject {
        background-image: url("../../Assets/Images/ProjectImages/pakjazba.jpg");
        height: 26.5vmax;
        border-radius: 1vw;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position-x: right;
        margin-top: -20vw;
    }
    .OxbridgeProject {
        background-image: url("../../Assets/Images/ProjectImages/oxbridge.jpg");
        height: 26.5vmax;
        border-radius: 1vw;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position-x: bottom;
        margin-top: -20vw;
    }
    .AmberDazelProject {
        background-image: url("https://res.cloudinary.com/dxk0bmtei/image/upload/v1579702268/amber-dazzle-image_egxm3v.jpg");
        height: 26.5vmax;
        border-radius: 1vw;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position-x: center;
        margin-top: -20vw;
    }

    .bgChildProject{
        color: #fafafa;
        background-color: #fafafa;
        border-radius: 1vw;
        box-shadow: 0px 2px 3.3vmax rgba(0, 0 ,0 , 0.12);
    }
    .bigProjectLeft{
        padding-top: 17vw;
    }
    .ADBhedngProject{
        padding-top: 4.2vw;
        padding-left: 4vw;
        padding-bottom: 3.2vw;
        font-size: 2.6vmax;
        font-family: aleta-bold;
        color: #ffffff;
    }   
    .ADB_BgChildProject{
        color: #fafafa;
        margin-left: 3.6vw;
        background-color: #fafafa;
        border-radius: 1vw;
        box-shadow: 0px 2px 3.3vmax rgba(0, 0 ,0 , 0.12);
    }
    .GFAhedngProjects{
        padding-top: 4.2vw;
        padding-left: 3.1vw;
        padding-bottom: 4.2vw;
        font-size: 2.6vmax;
        font-family: aleta-bold;
        color: #ffffff;
    }

    .SiddiqHomeProject{
        background-image: url('../../Assets/Images/siddiqsons-min.jpg');
        height: 26.5vmax;
        border-radius: 1vw;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position-x: right;
        margin-bottom: 9vmax;
        margin-top: 16.5vmax;
    }
    .LightFHomeProject {
        background-image: url("../../Assets/Images/DSC00144-treated-min.jpg");
        height: 26.5vmax;
        border-radius: 1vw;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position-x: bottom;
        margin-bottom: 15vmax;
    }
    .ACFHomeProject {
        background-image: url("../../Assets/Images/ACF-Image-min.jpg");
        height: 26.5vmax;
        border-radius: 1vw;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position-x: right;
        margin-bottom: calc(17.5vmax - 1vmax);
    }
    .ProjectHomeRightText{
        padding-top: 4.2vw;
        padding-left: 4vw;
        padding-bottom: 3.2vw;
        font-size: 2.4vmax;
        font-family: aleta-bold;
        color: #ffffff;
    } 
}
@media only screen and (min-device-width : 1024px) and (max-device-width : 1365px) {
    .LightFProject {
        background-image: url("../../Assets/Images/DSC00144-treated-min.jpg");
        height: 26.5vmax;
        border-radius: 1vw;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position-y: bottom;
    }
    .GetFitProject{
        background-image: url("../../Assets/Images/getfit.png");
        height: 26.5vmax;
        border-radius: 1vw;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position-x: right;
    }
    .CircleProject {
        background-image: url("../../Assets/Images/circle.jpg");
        height: 26.5vmax;
        border-radius: 1vw;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position-x: right;
    }
    .ZiyaratProject{
        background-image: url("../../Assets/Images/ProjectImages/Ziyarat.jpg");
        height: 26.5vmax;
        border-radius: 1vw;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position-y: center;
    }
    .DallasPalmProject{
        background-image: url("../../Assets/Images/dallaspalm.png");
        height: 26.5vmax;
        border-radius: 1vw;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position-y: center;
    }
    .SiddiqSonsProject{
        background-image: url('../../Assets/Images/siddiqsons-min.jpg');
        height: 26.5vmax;
        border-radius: 1vw;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position-y: bottom;
    }
    .DrentProject {
        background-image: url("../../Assets/Images/drent.png");
        height: 26.5vmax;
        border-radius: 1vw;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position-x: right;
    }
    .ACFProject {
        background-image: url("../../Assets/Images/ACF-Image-min.jpg");
        height: 26.5vmax;
        border-radius: 1vw;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position-x: right;
    }
    .PakJazbaProject {
        background-image: url("../../Assets/Images/ProjectImages/pakjazba.jpg");
        height: 26.5vmax;
        border-radius: 1vw;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position-x: right;
    }
    .OxbridgeProject {
        background-image: url("../../Assets/Images/ProjectImages/oxbridge.jpg");
        height: 26.5vmax;
        border-radius: 1vw;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position-y: bottom;
    }
    .AmberDazelProject {
        background-image: url("https://res.cloudinary.com/dxk0bmtei/image/upload/v1579702268/amber-dazzle-image_egxm3v.jpg");
        height: 26.5vmax;
        border-radius: 1vw;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position-x: center;
    }

    .bgChildProject{
        color: #fafafa;
        background-color: #fafafa;
        border-radius: 1vw;
        box-shadow: 0px 2px 3.3vmax rgba(0, 0 ,0 , 0.12);
    }
    .bigProjectLeft{
        padding-top: 17vw;
    }
    .ADBhedngProject{
        padding-top: 4.2vw;
        padding-left: 2.1vw;
        padding-bottom: 4.2vw;
        font-size: 2.6vmax;
        font-family: aleta-bold;
        color: #ffffff;
    }
    .ADB_BgChildProject{
        color: #fafafa;
        margin-left: -7vmax;
        background-color: #fafafa;
        border-radius: 1vw;
        box-shadow: 0px 2px 3.3vmax rgba(0, 0 ,0 , 0.12);
    }
    .GFAhedngProjects{
        padding-top: 4.2vw;
        padding-left: 3.1vw;
        padding-bottom: 4.2vw;
        font-size: 2.6vmax;
        font-family: aleta-bold;
        color: #ffffff;
    }

    .SiddiqHomeProject {
        background-image: url('../../Assets/Images/siddiqsons-min.jpg');
        height: 26.5vmax;
        border-radius: 1vw;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position-y: bottom;
        margin-bottom: calc(17.5vmax - 1vmax);
        margin-top: 17.2vmax;
    }
    .LightFHomeProject {
        background-image: url("../../Assets/Images/DSC00144-treated-min.jpg");
        height: 26.5vmax;
        border-radius: 1vw;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position-y: top;
        margin-bottom: calc(15vw - 1vmax);
    }
    .ACFHomeProject {
        background-image: url("../../Assets/Images/ACF-Image-min.jpg");
        height: 26.5vmax;
        border-radius: 1vw;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position-x: right;
        margin-bottom: calc(17.5vmax - 1vmax);
    }
    .ProjectHomeRightText{
        padding-top: 4.2vw;
        padding-left: 2.1vw;
        padding-bottom: 4.2vw;
        font-size: 2.4vmax;
        font-family: aleta-bold;
        color: #ffffff;
    }
}
@media only screen and (min-device-width : 1366px) and (max-device-width : 1600px) {
    .LightFProject {
        background-image: url("../../Assets/Images/DSC00144-treated-min.jpg");
        height: 26.5vmax;
        border-radius: 1vw;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position-y: bottom;
    }
    .GetFitProject{
        background-image: url("../../Assets/Images/getfit.png");
        height: 26.5vmax;
        border-radius: 1vw;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position-x: right;
    }
    .CircleProject {
        background-image: url("../../Assets/Images/circle.jpg");
        height: 26.5vmax;
        border-radius: 1vw;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position-x: right;
    }
    .ZiyaratProject{
        background-image: url("../../Assets/Images/ProjectImages/Ziyarat.jpg");
        height: 26.5vmax;
        border-radius: 1vw;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position-y: center;
    }
    .DallasPalmProject{
        background-image: url("../../Assets/Images/dallaspalm.png");
        height: 26.5vmax;
        border-radius: 1vw;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position-y: center;
    }
    .SiddiqSonsProject{
        background-image: url('../../Assets/Images/siddiqsons-min.jpg');
        height: 26.5vmax;
        border-radius: 1vw;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position-y: bottom;
    }
    .DrentProject {
        background-image: url("../../Assets/Images/drent.png");
        height: 26.5vmax;
        border-radius: 1vw;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position-x: right;
    }
    .ACFProject {
        background-image: url("../../Assets/Images/ACF-Image-min.jpg");
        height: 26.5vmax;
        border-radius: 1vw;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position-x: right;
    }
    .PakJazbaProject {
        background-image: url("../../Assets/Images/ProjectImages/pakjazba.jpg");
        height: 26.5vmax;
        border-radius: 1vw;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position-x: right;
    }
    .OxbridgeProject {
        background-image: url("../../Assets/Images/ProjectImages/oxbridge.jpg");
        height: 26.5vmax;
        border-radius: 1vw;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position-y: bottom;
    }
    .AmberDazelProject {
        background-image: url("https://res.cloudinary.com/dxk0bmtei/image/upload/v1579702268/amber-dazzle-image_egxm3v.jpg");
        height: 26.5vmax;
        border-radius: 1vw;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position-x: center;
    }

    .bgChildProject{
        color: #fafafa;
        background-color: #fafafa;
        border-radius: 1vw;
        box-shadow: 0px 2px 3.3vmax rgba(0, 0 ,0 , 0.12);
    }
    .bigProjectLeft{
        padding-top: 17vw;
    }
    .ADBhedngProject{
        padding-top: 4.2vw;
        padding-left: 2.1vw;
        padding-bottom: 4.2vw;
        font-size: 2.6vmax;
        font-family: aleta-bold;
        color: #ffffff;
    }
    .ADB_BgChildProject{
        color: #fafafa;
        margin-left: -7vmax;
        background-color: #fafafa;
        border-radius: 1vw;
        box-shadow: 0px 2px 3.3vmax rgba(0, 0 ,0 , 0.12);
    }
    .GFAhedngProjects{
        padding-top: 4.2vw;
        padding-left: 3.1vw;
        padding-bottom: 4.2vw;
        font-size: 2.6vmax;
        font-family: aleta-bold;
        color: #ffffff;
    }

    .SiddiqHomeProject {
        background-image: url('../../Assets/Images/siddiqsons-min.jpg');
        height: 26.5vmax;
        border-radius: 1vw;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position-y: bottom;
        margin-bottom: calc(13.5vmax - 1vmax);
        margin-top: 20vmax;
    }
    .LightFHomeProject {
        background-image: url("../../Assets/Images/DSC00144-treated-min.jpg");
        height: 26.5vmax;
        border-radius: 1vw;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position-y: top;
        margin-bottom: calc(15vw - 1vmax);
    }
    .ACFHomeProject {
        background-image: url("../../Assets/Images/ACF-Image-min.jpg");
        height: 26.5vmax;
        border-radius: 1vw;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position-x: right;
        margin-bottom: calc(17.5vmax - 1vmax);
    }
    .ProjectHomeRightText{
        padding-top: 4.2vw;
        padding-left: 2.1vw;
        padding-bottom: 4.2vw;
        font-size: 2.5vmax;
        font-family: aleta-bold;
        color: #ffffff;
    }
}
@media only screen and (min-device-width : 1600px){
    .LightFProject {
        background-image: url("../../Assets/Images/DSC00144-treated-min.jpg");
        height: 26.5vmax;
        border-radius: 1vw;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position-y: bottom;
    }
    .GetFitProject{
        background-image: url("../../Assets/Images/getfit.png");
        height: 26.5vmax;
        border-radius: 1vw;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position-x: right;
    }
    .CircleProject {
        background-image: url("../../Assets/Images/circle.jpg");
        height: 26.5vmax;
        border-radius: 1vw;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position-x: right;
    }
    .ZiyaratProject{
        background-image: url("../../Assets/Images/ProjectImages/Ziyarat.jpg");
        height: 26.5vmax;
        border-radius: 1vw;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position-y: center;
    }
    .DallasPalmProject{
        background-image: url("../../Assets/Images/dallaspalm.png");
        height: 26.5vmax;
        border-radius: 1vw;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position-y: center;
    }
    .SiddiqSonsProject{
        background-image: url('../../Assets/Images/siddiqsons-min.jpg');
        height: 26.5vmax;
        border-radius: 1vw;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position-y: bottom;
    }
    .DrentProject {
        background-image: url("../../Assets/Images/drent.png");
        height: 26.5vmax;
        border-radius: 1vw;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position-x: right;
    }
    .ACFProject {
        background-image: url("../../Assets/Images/ACF-Image-min.jpg");
        height: 26.5vmax;
        border-radius: 1vw;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position-x: right;
    }
    .PakJazbaProject {
        background-image: url("../../Assets/Images/ProjectImages/pakjazba.jpg");
        height: 26.5vmax;
        border-radius: 1vw;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position-x: right;
    }
    .OxbridgeProject {
        background-image: url("../../Assets/Images/ProjectImages/oxbridge.jpg");
        height: 26.5vmax;
        border-radius: 1vw;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position-y: bottom;
    }
    .AmberDazelProject {
        background-image: url("https://res.cloudinary.com/dxk0bmtei/image/upload/v1579702268/amber-dazzle-image_egxm3v.jpg");
        height: 26.5vmax;
        border-radius: 1vw;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position-x: center;
    }

    .bgChildProject{
        color: #fafafa;
        background-color: #fafafa;
        border-radius: 1vw;
        box-shadow: 0px 2px 3.3vmax rgba(0, 0 ,0 , 0.12);
    }
    .bigProjectLeft{
        padding-top: 17vw;
    }
    .ADBhedngProject{
        padding-top: 4.2vw;
        padding-left: 2.1vw;
        padding-bottom: 4.2vw;
        font-size: 2.6vmax;
        font-family: aleta-bold;
        color: #ffffff;
    }
    .ADB_BgChildProject{
        color: #fafafa;
        margin-left: -7vmax;
        background-color: #fafafa;
        border-radius: 1vw;
        box-shadow: 0px 2px 3.3vmax rgba(0, 0 ,0 , 0.12);
    }
    .GFAhedngProjects{
        padding-top: 4.2vw;
        padding-left: 3.1vw;
        padding-bottom: 4.2vw;
        font-size: 2.6vmax;
        font-family: aleta-bold;
        color: #ffffff;
        width: 32vw;
    }

    .SiddiqHomeProject {
        background-image: url('../../Assets/Images/siddiqsons-min.jpg');
        height: 26.5vmax;
        border-radius: 1vw;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position-y: bottom;
        margin-bottom: calc(17.5vmax - 1vmax);
        margin-top: 12.7vmax;
    }
    .LightFHomeProject {
        background-image: url("../../Assets/Images/DSC00144-treated-min.jpg");
        height: 26.5vmax;
        border-radius: 1vw;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position-y: top;
        margin-bottom: calc(15vw - 1vmax);
    }
    .ACFHomeProject {
        background-image: url("../../Assets/Images/ACF-Image-min.jpg");
        height: 26.5vmax;
        border-radius: 1vw;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position-x: right;
        margin-bottom: calc(17.5vmax - 1vmax);
    }
    .ProjectHomeRightText{
        padding-top: 4.2vw;
        padding-left: 2.1vw;
        padding-bottom: 4.2vw;
        font-size: 2.5vmax;
        font-family: aleta-bold;
        color: #ffffff;
    }
}

.acfFeatureImgAllOver{
    background-image: url("https://res.cloudinary.com/dxk0bmtei/image/upload/v1585287754/ACF_banner_j9autw.png");
    height: 100vh;
    background-size:100% 100%!important;
    background-position:0 0!important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size:cover;
}
.oxbridgeFeatureImgMarket{
    background-image: url("https://res.cloudinary.com/dxk0bmtei/image/upload/v1585313104/Oxbridge_banner_ytjycs.png");
    height: 100vh;
    background-size:100% 100%!important;
    background-position:0 0!important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size:cover;
}
.siddiqSonFeatureImgDesign{
    background-image: url("https://res.cloudinary.com/dxk0bmtei/image/upload/v1585313152/Siddiqsons_banner_iasoqw.png");
    height: 100vh;
    background-size:100% 100%!important;
    background-position:0 0!important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size:cover;
}
.pakjazbaFeatureImgDevelop{
    background-image: url("https://res.cloudinary.com/dxk0bmtei/image/upload/v1585313153/PakJazba_banner_eygvac.png");
    height: 100vh;
    background-size:100% 100%!important;
    background-position:0 0!important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size:cover;
}
.jicaFeatureImgProduct{
    background-image: url("https://res.cloudinary.com/dxk0bmtei/image/upload/v1585313160/JICA_banner_hyojlw.png");
    height: 100vh;
    background-size:100% 100%!important;
    background-position:0 0!important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size:cover;
}


/*Freshh css ENd Projects by daniyal*/


.GFA_BgImg {
    background-image: url("../../Assets/Images/DSC00144-treated-min.jpg");
    height: 26.5vmax;
    border-radius: 1vw;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position-x: right;
    margin-bottom: calc(15vw - 1vmax);
}

.GFA_BgImgHomeMb {
    background-image: url("../../Assets/Images/DSC00144-treated-min.jpg");
    height: 26.5vmax;
    border-radius: 3vw;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position-x: right;
    /* margin-bottom: calc(15vw - 1vmax); */
    margin-left: 4.3vw;
    margin-bottom: calc(15vw - -9.5vmax);
}
.GFA_BgImgMd {
    background-image: url("../../Assets/Images/DSC00144-treated-min.jpg");
    height: 26.5vmax;
    border-radius: 1vw;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position-x: right;
    margin-bottom: 15vmax;
}
.GFA_BgImgMb {
    background-image: url("../../Assets/Images/DSC00144-treated-min.jpg");
    height: 30.5vmax;
    border-radius: 3vw;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position-x: right;
    margin-bottom: calc(15vw - -8vmax);
    margin-top: 20vw;
}
.GFA_BgImgProMb {
    background-image: url("../../Assets/Images/DSC00144-treated-min.jpg");
    height: 30.5vmax;
    border-radius: 3vw;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position-x: right;
    margin-bottom: calc(15vw - -9.5vmax);
    margin-top: 15vw;
}


.GFApera{
    padding-left: 3.1vw;
    padding-top: 3.1vw;
    padding-right: 3.1vw;
    font-family: aleta-light;
    font-size: calc(12px + 0.3vw);
    color: #adadad;
    letter-spacing: -0.03vmax;
    line-height: 1.5em;
}
.GFApera1{
    padding-left: 3.1vw;
    padding-top: 2.1vw;
    padding-bottom: 1.5vmax;
    font-family: aleta-bold;
    font-size: calc(0.8em + 0.5vw);
    color: #303030;
    cursor: pointer;
}
.GFAimg{
    width: 3vmax;
    margin-left: 1vw;
}
.BanrPera1{
    /* padding-left: 0.5vmax;
    padding-top: 1.1vmax;
    padding-bottom: 1.5vmax; */
    font-family: aleta-bold;
    font-size: calc(0.5em + 0.5vw);
    color: #303030;
    /* padding: 3.15vw 1.15vw 1.15vw 1.15vw; */
}
.BanrPera1Mb{
    /* padding-left: 0.5vmax;
    padding-top: 1.1vmax;
    padding-bottom: 1.5vmax; */
    font-family: aleta-bold;
    font-size: calc(0.5em + 0.5vw);
    color: #303030;
    padding: 3.15vw 2.1vw 1.15vw 1.15vw;
}
.BanPeraimg{
    width: 3vmax;
    padding-top: 1.2vw;
}

.DrentBgImg {
    background-image: url("../../Assets/Images/ACF-Image-min.jpg");
    height: 26.5vmax;
    border-radius: 1vw;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position-x: right;
    margin-bottom: calc(15vw - 1vmax);
}
.DrentBgImgHomeMb {
    background-image: url("../../Assets/Images/ACF-Image-min.jpg");
    height: 26.5vmax;
    border-radius: 3vw;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position-x: right;
    /* margin-bottom: calc(15vw - 1vmax); */
    margin-left: 4.3vw;
    margin-bottom: calc(2vw + -8.5vmax);
}
.DrentBgImgMd {
    background-image: url("../../Assets/Images/ACF-Image-min.jpg");
    height: 26.5vmax;
    border-radius: 1vw;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position-x: right;
    margin-bottom: 18vmax;
}
.DrentBgImgMb {
    background-image: url("../../Assets/Images/ACF-Image-min.jpg");
    height: 30.5vmax;
    border-radius: 3vw;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position-x: right;
    margin-bottom: calc(15vw - -9.5vmax);
}
.Drenthedng{
    padding-top: 4.2vw;
    padding-left: 3.1vw;
    padding-bottom: 4.2vw;
    font-size: 2.6vmax;
    font-family: aleta-bold;
    color: #ffffff;
}
.ADBhedng{
    padding-top: 4.2vw;
    padding-left: 2.1vw;
    padding-bottom: 4.2vw;
    font-size: 2.6vmax;
    font-family: aleta-bold;
    color: #ffffff;
}
.ADBhedngSmMd{
    padding-top: 4.2vw;
    padding-left: 4vw;
    padding-bottom: 3.2vw;
    font-size: 2.6vmax;
    font-family: aleta-bold;
    color: #ffffff;
}
.ADBhedngMb{
    padding-top: 4.2vw;
    padding-left: 3.1vw;
    padding-bottom: 3.2vw;
    font-size: 2.6vmax;
    font-family: aleta-bold;
    color: #ffffff;
}
.ADBhedngHomeMb{
    padding-top: 4.2vw;
    padding-left: 3.1vw;
    padding-bottom: 3.2vw;
    font-size: 2.6vmax;
    font-family: aleta-bold;
    color: #ffffff;
}
.ADB_BgImg {
    background-image: url("../../Assets/Images/amber-dazzle.png");
    height: 26.5vmax;
    border-radius: 1vw;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position-x: right;
    margin-bottom: calc(17.5vmax - 1vmax);
    margin-top: 40.7vmax;
}
.ADB_BgImgSmMd {
    background-image: url("../../Assets/Images/siddiqsons-min.jpg");
    height: 26.5vmax;
    border-radius: 1vw;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position-x: right;
    margin-bottom: 12vmax;
    margin-top: 29vmax;
}
.ADB_BgImgHomeMb {
    background-image: url("../../Assets/Images/siddiqsons-min.jpg");
    height: 28.5vmax;
    border-radius: 3vw;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position-x: right;
    margin-bottom: 19vh;
    margin-top: 25vh;
    margin-left: 4.3vw;
}
.ADB_BgImgSmMd1 {
    background-image: url("../../Assets/Images/siddiqsons-min.jpg");
    height: 26.5vmax;
    border-radius: 1vw;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position-x: right;
    margin-bottom: 12vmax;
    margin-top: 40.7vmax;
}
.ADB_BgImgMb {
    background-image: url("../../Assets/Images/siddiqsons-min.jpg");
    height: 30.5vmax;
    border-radius: 3vw;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position-x: right;
    /* margin-bottom: 7vmax; */
    margin-left: 4.3vw;
    margin-bottom: calc(15vw - -9.5vmax);
}
.ADB_BgChild{
    color: #fafafa;
    margin-left: -7vmax;
    background-color: #fafafa;
    border-radius: 1vw;
    box-shadow: 0px 2px 3.3vmax rgba(0, 0 ,0 , 0.12);
}
.ADB_BgChildSmMd{
    color: #fafafa;
    /* margin-left: 3.6vw; */
    background-color: #fafafa;
    border-radius: 3vw;
    box-shadow: 0px 2px 3.3vmax rgba(0, 0 ,0 , 0.12);
}
.ADB_BgChildMd{
    color: #fafafa;
    margin-left: 3.6vw;
    background-color: #fafafa;
    border-radius: 1vw;
    box-shadow: 0px 2px 3.3vmax rgba(0, 0 ,0 , 0.12);
}
.DPW_BgChild{
    color: #fafafa;
    margin-left: -7vmax;
    background-color: #fafafa;
    border-radius: 1vw;
    box-shadow: 0px 2px 3.3vmax rgba(0, 0 ,0 , 0.12);
}
.DPW_BgChildSmMd{
    color: #fafafa;
    /* margin-left: 3.6vw; */
    background-color: #fafafa;
    border-radius: 3vw;
    box-shadow: 0px 2px 3.3vmax rgba(0, 0 ,0 , 0.12);
}
.DPW_BgChildMd{
    color: #fafafa;
    margin-left: 3.6vw;
    background-color: #fafafa;
    border-radius: 1vw;
    box-shadow: 0px 2px 3.3vmax rgba(0, 0 ,0 , 0.12);
}
.ODW_BgChildSmMd{
    color: #fafafa;
    /* margin-left: 3.6vw; */
    background-color: #fafafa;
    border-radius: 3vw;
    box-shadow: 0px 2px 3.3vmax rgba(0, 0 ,0 , 0.12);
}
.ODW_BgChildMd{
    color: #fafafa;
    margin-left: 3.6vw;
    background-color: #fafafa;
    border-radius: 1vw;
    box-shadow: 0px 2px 3.3vmax rgba(0, 0 ,0 , 0.12);
}
.ADBpera{
    padding-left: 3.1vw;
    padding-top: 3.1vw;
    padding-right: 1.1vw;
    font-family: aleta-light;
    font-size: calc(12px + 0.3vw);
    color: #adadad;
    letter-spacing: -0.03vmax;
    line-height: 2em;
}
.ADBpera1{
    padding-left: 3.5vw;
    padding-top: 1.1vw;
    padding-bottom: 1.5vmax;
    font-family: aleta-bold;
    /* font-size: 1.3vw; */
    color: #303030;
    font-size: calc(0.8em + 0.5vw);
    cursor: pointer;
}
.servicePeraAerow{
    padding-top: 11.1vw;
    padding-bottom: 1.5vmax;
    font-family: aleta-bold;
    font-size: 1.3vw;
    color: #303030;
}
.servicePeraAerowSmMd{
    padding-left: 3.1vw;
    padding-top: 3.1vw;
    padding-bottom: 1.5vmax;
    font-family: aleta-bold;
    font-size: 1.5vmax;
    color: #303030;
}
.ADBimg{
    width: 3vmax;
    margin-left: 1vw;
}
.DPW_BgImg {
    background-image: url("../../Assets/Images/dallaspalm.png");
    height: 26.5vmax;
    border-radius: 1vw;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position-x: right;
    margin-bottom: calc(17.5vmax - 1vmax);
}
.DPW_BgImgMb {
    background-image: url("../../Assets/Images/dallaspalm.png");
    height: 33.5vmax;
    border-radius: 3vw;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position-x: right;
    /* margin-bottom: 11vmax; */
    margin-left: 4.3vw;
    margin-bottom: calc(15vw - -9.5vmax);
}
.ODW_BgImg {
    background-image: url("../../Assets/Images/web-app.png");
    height: 26.5vmax;
    border-radius: 1vw;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position-x: right;
    margin-bottom: calc(17.5vmax - 0vmax);
}
.ODW_BgImgMb {
    background-image: url("../../Assets/Images/web-app.png");
    height: 33vmax;
    border-radius: 3vw;
    -webkit-background-size: cover;
    -moz-background-size: co ver;
    -o-background-size: cover;
    background-size: cover;
    background-position-x: right;
    /* margin-bottom: 11vmax; */
    margin-left: 4.3vw;
    margin-bottom: calc(15vw - -9.5vmax);
}
.ADB_HomBgImg {
    background-image: url('../../Assets/Images/siddiqsons-min.jpg');
    height: 26.5vmax;
    border-radius: 1vw;
    background-size: cover;
    background-position-x: right;
    margin-bottom: 12vmax;
    margin-top: 19.7vmax;
}
.GFA_BgImgHome {
    background-image: url("../../Assets/Images/DSC00144-treated-min.jpg");
    height: 26.5vmax;
    border-radius: 1vw;
    background-size: cover;
    background-position-x: right;
    margin-bottom: calc(15vw - 1vmax);
    margin-left: 4.3vw;
}
.DrentBgImgHome {
    background-image: url("../../Assets/Images/drent.png");
    height: 26.5vmax;
    border-radius: 1vw;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position-x: right;
    margin-bottom: calc(15vw - 1vmax);
    margin-left: 4.3vw;
}