/* .rawsPrjct{
    background-color: black;
}
.devPrjct{
    padding: 0px;
}
.dev2Prjct{
    padding-left: calc(1vw + 2.6vw);
}
.hedPrjct{
    padding-top: 10vw;
    color: white;
    font-family: montserrat-extrabold;
    font-size: calc(5px + 1.3vw);
}
.peraPrjct{
    padding-top: 3vw;
    padding-bottom: 2vw;
    color: white;
    font-family: montserrat-light;
    font-size: calc(5px + 0.7vw);
}
.raws2Prjct{
    background-color: rgb(255, 59, 95);
    padding: 3vw 0px 4vw;
}
.dev3Prjct{
    padding-left: 4vw;
    padding-top: 4vw;
}
.dev4Prjct{
    padding-left: 0px;
    padding-right: 0px;
}
.peraProject2{
    color: white;
    margin-top: 20vw;
    font-family: montserrat-light;
    font-size: calc(5px + 0.7vw);
    padding-right: 5vw;
}
.peraProject22{
    color: white;
    margin-top: 20vw;
    font-family: montserrat-light;
    font-size: calc(5px + 0.7vw);
    padding-right: calc(0vw + 5vw);
    margin-bottom: 5vw;
}
.devcolr1{
    background-color: #0bc3d1;
}
.devcolr2{
    background-color: #7a3185;
}
.devcolr3{
    background-color: #ffa86b;
}
.pad0{
    padding-left: 0px;
    padding-right: 0px;
}
.pera1Prjct{
    text-align: center;
    background-color: white;
    font-size: calc(0vw + 0.8vw);
    font-family: montserrat-light;
}
.dev5Prjct{
    padding-left: 0px;
    padding-right: 0px;
}
.dev6Prjct{
    padding-left: 4vw;
    padding-top: 1vw;
}

.hed1Prjct{
    color: white;
    font-family: montserrat-extrabold;
    font-size: calc(5px + 1.3vw);
}
.pera2Prjct{
    padding-top: 2vw;
    color: white;
    padding-right: 15vw;
    font-family: montserrat-light;
    font-size: calc(5px + 0.7vw);
}
.devPrjct2{
    background-color: #7a3185;
    margin-top: 8vw;   
} */

/* new design */

.GFA_BgImg {
    background-image: url("../../Assets/Images/getfit.png");
    height: 26.5vmax;
    border-radius: 1vw;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position-x: right;
    margin-bottom: calc(15vw - 1vmax);
}
.GFA_BgImgHomeMb {
    background-image: url("../../Assets/Images/getfit.png");
    height: 26.5vmax;
    border-radius: 5vw;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position-x: right;
    /* margin-bottom: calc(15vw - 1vmax); */
    margin-left: 4.3vw;
    margin-bottom: calc(15vw - -11vmax);
}
.GFA_BgImgMd {
    background-image: url("../../Assets/Images/getfit.png");
    height: 26.5vmax;
    border-radius: 1vw;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position-x: right;
    margin-bottom: 15vmax;
}
.GFA_BgImgMb {
    background-image: url("../../Assets/Images/getfit.png");
    height: 30.5vmax;
    border-radius: 3vw;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position-x: right;
    margin-bottom: calc(15vw - -8vmax);
    margin-top: 20vw;
}
.GFA_BgImgProMb {
    background-image: url("../../Assets/Images/getfit.png");
    height: 30.5vmax;
    border-radius: 5vw;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position-x: right;
    margin-bottom: calc(15vw - -11vmax);
    margin-top: 15vw;
}
.bgChild{
    color: #fafafa;
    /* margin-left: 3.1vw;
    width: 28.9vw; */
    background-color: #fafafa;
    border-radius: 1vw;
    box-shadow: 0px 2px 3.3vmax rgba(0, 0 ,0 , 0.12);
}
.bgChildMb{
    color: #fafafa;
    /* margin-left: 3.1vw;
    width: 28.9vw; */
    background-color: #fafafa;
    border-radius: 4vw;
    box-shadow: 0px 2px 3.3vmax rgba(0, 0 ,0 , 0.12);
}
.GFAhedng{
    padding-top: 4.2vw;
    padding-left: 3.1vw;
    padding-bottom: 4.2vw;
    font-size: 2.6vmax;
    font-family: montserrat-extrabold;
    color: #ffffff;
}
.GFApera{
    padding-left: 3.1vw;
    padding-top: 3.1vw;
    padding-right: 3.1vw;
    font-family: montserrat-light;
    font-size: calc(12px + 0.3vw);
    color: #adadad;
    letter-spacing: -0.03vmax;
    line-height: 1.5em;
}
.GFApera1{
    padding-left: 3.1vw;
    padding-top: 2.1vw;
    padding-bottom: 1.5vmax;
    font-family: montserrat-extrabold;
    font-size: calc(0.8em + 0.5vw);
    color: #303030;
}
.GFAimg{
    width: 3vmax;
    margin-left: 1vw;
}
.BanrPera1{
    /* padding-left: 0.5vmax;
    padding-top: 1.1vmax;
    padding-bottom: 1.5vmax; */
    font-family: montserrat-extrabold;
    font-size: calc(0.5em + 0.5vw);
    color: #303030;
    /* padding: 3.15vw 1.15vw 1.15vw 1.15vw; */
}
.BanrPera1Mb{
    /* padding-left: 0.5vmax;
    padding-top: 1.1vmax;
    padding-bottom: 1.5vmax; */
    font-family: montserrat-extrabold;
    font-size: calc(0.5em + 0.5vw);
    color: #303030;
    padding: 3.15vw 2.1vw 1.15vw 1.15vw;
}
.BanPeraimg{
    width: 3vmax;
    padding-top: 1.2vw;
}

.DrentBgImg {
    background-image: url("../../Assets/Images/drent.png");
    height: 26.5vmax;
    border-radius: 1vw;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position-x: right;
    margin-bottom: calc(15vw - 1vmax);
}
.DrentBgImgHomeMb {
    background-image: url("../../Assets/Images/drent.png");
    height: 26.5vmax;
    border-radius: 5vw;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position-x: right;
    /* margin-bottom: calc(15vw - 1vmax); */
    margin-left: 4.3vw;
    margin-bottom: calc(2vw + -6vmax);
}
.DrentBgImgMd {
    background-image: url("../../Assets/Images/drent.png");
    height: 26.5vmax;
    border-radius: 1vw;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position-x: right;
    margin-bottom: 18vmax;
}
.DrentBgImgMb {
    background-image: url("../../Assets/Images/drent.png");
    height: 30.5vmax;
    border-radius: 5vw;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position-x: right;
    margin-bottom: calc(15vw - -11vmax);
}
.Drenthedng{
    padding-top: 4.2vw;
    padding-left: 3.1vw;
    padding-bottom: 4.2vw;
    font-size: 2.6vmax;
    font-family: montserrat-extrabold;
    color: #ffffff;
}

.ADBhedng{
    padding-top: 4.2vw;
    padding-left: 2.1vw;
    padding-bottom: 4.2vw;
    font-size: 2.6vmax;
    font-family: montserrat-extrabold;
    color: #ffffff;
}
.ADBhedngSmMd{
    padding-top: 4.2vw;
    padding-left: 4vw;
    padding-bottom: 3.2vw;
    font-size: 2.6vmax;
    font-family: montserrat-extrabold;
    color: #ffffff;
}
.ADBhedngMb{
    padding-top: 4.2vw;
    padding-left: 3.1vw;
    padding-bottom: 3.2vw;
    font-size: 2.6vmax;
    font-family: montserrat-extrabold;
    color: #ffffff;
}
.ADBhedngHomeMb{
    padding-top: 4.2vw;
    padding-left: 3.1vw;
    padding-bottom: 3.2vw;
    font-size: 2.6vmax;
    font-family: montserrat-extrabold;
    color: #ffffff;
}
.ADB_BgImg {
    background-image: url("../../Assets/Images/amber-dazzle.png");
    height: 26.5vmax;
    border-radius: 1vw;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position-x: right;
    margin-bottom: calc(17.5vmax - 1vmax);
    margin-top: 40.7vmax;
}
.ADB_BgImgSmMd {
    background-image: url("../../Assets/Images/amber-dazzle.png");
    height: 26.5vmax;
    border-radius: 1vw;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position-x: right;
    margin-bottom: 12vmax;
    margin-top: 29vmax;
}
.ADB_BgImgHomeMb {
    background-image: url("../../Assets/Images/amber-dazzle.png");
    height: 28.5vmax;
    border-radius: 5vw;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position-x: right;
    margin-bottom: 19vh;
    margin-top: 25vh;
    margin-left: 4.3vw;
}
.ADB_BgImgSmMd1 {
    background-image: url("../../Assets/Images/amber-dazzle.png");
    height: 26.5vmax;
    border-radius: 1vw;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position-x: right;
    margin-bottom: 12vmax;
    margin-top: 40.7vmax;
}
.ADB_BgImgMb {
    background-image: url("../../Assets/Images/amber-dazzle.png");
    height: 30.5vmax;
    border-radius: 5vw;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position-x: right;
    /* margin-bottom: 7vmax; */
    margin-left: 4.3vw;
    margin-bottom: calc(15vw - -11vmax);
}
.ADB_BgChild{
    color: #fafafa;
    margin-left: -7vmax;
    background-color: #fafafa;
    border-radius: 1vw;
    box-shadow: 0px 2px 3.3vmax rgba(0, 0 ,0 , 0.12);
}
.ADB_BgChildSmMd{
    color: #fafafa;
    /* margin-left: 3.6vw; */
    background-color: #fafafa;
    border-radius: 4vw;
    box-shadow: 0px 2px 3.3vmax rgba(0, 0 ,0 , 0.12);
}
.ADB_BgChildMd{
    color: #fafafa;
    margin-left: 3.6vw;
    background-color: #fafafa;
    border-radius: 1vw;
    box-shadow: 0px 2px 3.3vmax rgba(0, 0 ,0 , 0.12);
}
.DPW_BgChild{
    color: #fafafa;
    margin-left: -7vmax;
    background-color: #fafafa;
    border-radius: 1vw;
    box-shadow: 0px 2px 3.3vmax rgba(0, 0 ,0 , 0.12);
}
.DPW_BgChildSmMd{
    color: #fafafa;
    /* margin-left: 3.6vw; */
    background-color: #fafafa;
    border-radius: 4vw;
    box-shadow: 0px 2px 3.3vmax rgba(0, 0 ,0 , 0.12);
}
.DPW_BgChildMd{
    color: #fafafa;
    margin-left: 3.6vw;
    background-color: #fafafa;
    border-radius: 1vw;
    box-shadow: 0px 2px 3.3vmax rgba(0, 0 ,0 , 0.12);
}
.ODW_BgChildSmMd{
    color: #fafafa;
    /* margin-left: 3.6vw; */
    background-color: #fafafa;
    border-radius: 4vw;
    box-shadow: 0px 2px 3.3vmax rgba(0, 0 ,0 , 0.12);
}
.ODW_BgChildMd{
    color: #fafafa;
    margin-left: 3.6vw;
    background-color: #fafafa;
    border-radius: 1vw;
    box-shadow: 0px 2px 3.3vmax rgba(0, 0 ,0 , 0.12);
}
.ADBpera{
    padding-left: 3.1vw;
    padding-top: 3.1vw;
    padding-right: 1.1vw;
    font-family: montserrat-light;
    font-size: calc(12px + 0.3vw);
    color: #adadad;
    letter-spacing: -0.03vmax;
    line-height: 2em;
}
.ADBpera1{
    padding-left: 3.5vw;
    padding-top: 1.1vw;
    padding-bottom: 1.5vmax;
    font-family: montserrat-extrabold;
    /* font-size: 1.3vw; */
    color: #303030;
    font-size: calc(0.8em + 0.5vw);
}
.servicePeraAerow{
    padding-top: 11.1vw;
    padding-bottom: 1.5vmax;
    font-family: montserrat-extrabold;
    font-size: 1.3vw;
    color: #303030;
}
.servicePeraAerowSmMd{
    padding-left: 3.1vw;
    padding-top: 3.1vw;
    padding-bottom: 1.5vmax;
    font-family: montserrat-extrabold;
    font-size: 1.5vmax;
    color: #303030;
}
.ADBimg{
    width: 3vmax;
    margin-left: 1vw;
}
.DPW_BgImg {
    background-image: url("../../Assets/Images/dallaspalm.png");
    height: 26.5vmax;
    border-radius: 1vw;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position-x: right;
    margin-bottom: calc(17.5vmax - 1vmax);
}
.DPW_BgImgMb {
    background-image: url("../../Assets/Images/dallaspalm.png");
    height: 33.5vmax;
    border-radius: 5vw;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position-x: right;
    /* margin-bottom: 11vmax; */
    margin-left: 4.3vw;
    margin-bottom: calc(15vw - -11vmax);
}
.ODW_BgImg {
    background-image: url("../../Assets/Images/web-app.png");
    height: 26.5vmax;
    border-radius: 1vw;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position-x: right;
    margin-bottom: calc(17.5vmax - 0vmax);
}
.ODW_BgImgMb {
    background-image: url("../../Assets/Images/web-app.png");
    height: 33vmax;
    border-radius: 5vw;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position-x: right;
    /* margin-bottom: 11vmax; */
    margin-left: 4.3vw;
    margin-bottom: calc(15vw - -11vmax);

}
.ADB_HomBgImg {
    background-image: url(/static/media/amber-dazzle.06b11d44.png);
    height: 26.5vmax;
    border-radius: 1vw;
    background-size: cover;
    background-position-x: right;
    margin-bottom: 12vmax;
    margin-top: 19.7vmax;
}
.GFA_BgImgHome {
    background-image: url(/static/media/getfit.2073e563.png);
    height: 26.5vmax;
    border-radius: 1vw;
    background-size: cover;
    background-position-x: right;
    margin-bottom: calc(15vw - 1vmax);
    margin-left: 4.3vw;
}
.DrentBgImgHome {
    background-image: url("../../Assets/Images/drent.png");
    height: 26.5vmax;
    border-radius: 1vw;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position-x: right;
    margin-bottom: calc(15vw - 1vmax);
    margin-left: 4.3vw;
}