div.logo_layout {
    width: 140px;
    height: 70px;
    background-color: black;
    -ms-transform: rotate(-12deg); /* IE 9 */
    -webkit-transform: rotate(-12deg); /* Safari 3-8 */
    transform: rotate(-12deg);
    margin-top: 9%;
  }
  .logo_text1{
      
      text-transform: uppercase;
      background: linear-gradient(to right, #ff9e65, #ff4f6e 70%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  }
  .logo-text2{
  
      text-transform: uppercase;
      background: linear-gradient(to right, #0ac3d0,  #953797  70%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  }
  .dani{
      font-family: kalam;
  }