.rAw_PadD{
    padding-bottom: 15vw;
    padding-top: 5vw;
}
.dot_imgBaner{
    position: absolute;
    width: 70%;
}
@media only screen and (min-device-width : 300px) and (max-device-width : 767px) {
    .Banerr_texxt{
        font-family: montserrat-extrabold;
        font-size: calc(12px + 4.5vw);
        color: #303030;
        margin-left: 3vw;
        margin-top: 10vw;
    }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1023px) {
    .Banerr_texxt{
        font-family: montserrat-extrabold;
        font-size: calc(12px + 3vw);
        color: #303030;
        margin-left: -12vw;
        margin-top: 19vw;
    }
}
@media only screen and (min-device-width : 1024px) and (max-device-width : 1365px) {
    .Banerr_texxt{
        font-family: montserrat-extrabold;
        font-size: calc(12px + 4.5vw);
        color: #303030;
        margin-left: -22vw;
        margin-top: 12vw;
    }
}
@media only screen and (min-device-width : 1366px) and (max-device-width : 1600px) {
    .Banerr_texxt{
        font-family: montserrat-extrabold;
        font-size: calc(12px + 4.5vw);
        color: #303030;
        margin-left: -21vw;
        margin-top: 10vw;
    }
}
@media only screen and (min-device-width : 1600px) {
    .Banerr_texxt{
        font-family: montserrat-extrabold;
        font-size: calc(12px + 4.5vw);
        color: #303030;
        margin-left: -25vw;
        margin-top: 7vw;
    }
}