.changingdec{
    text-decoration: none !important;
}
@media only screen and (min-device-width : 300px) and (max-device-width : 767px) {
    .dai_coLrsty {
        background-color: #fafafa;
        padding: 2.7vw;
        padding-bottom: 1.6vw;
        border-radius: 1vw;
        box-shadow: 0px 2px 1.9vw rgba(0, 0 ,0 , 0.18);
        margin-left: -8vw;
        margin-right: 8vw;
        margin-top: -7vw;
    }
    .heaD_font{
        font-size: 7vw;
        font-family: aleta-bold;
        color: white;
        padding-bottom: 3.2vw;
        padding-left: 5vw;
    }
    .heaD_fontPro{
        font-size: 7vw;
        font-family: aleta-bold;
        color: white;
        padding-bottom: 3.2vw;
        padding-left: 5vw;
    }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1023px) {
    .dai_coLrsty {
        background-color: #fafafa;
        padding: 2.7vw;
        padding-bottom: 1.6vw;
        border-radius: 1vw;
        box-shadow: 0px 2px 1.9vw rgba(0, 0 ,0 , 0.18);
        margin-left: -8vw;
        margin-right: 8vw;
        margin-top: -7vw;
        width: 95%;
    }
    .heaD_font{
        font-size: calc(10px + 1.8vw);
        font-family: aleta-bold;
        color: white;
        padding-bottom: 3.2vw;
        padding-left: 1vw;
    }
    .heaD_fontPro{
        font-size: calc(10px + 1.8vw);
        font-family: aleta-bold;
        color: white;
        padding-bottom: 3.2vw;
        padding-left: 1vw;
    }
}
@media only screen and (min-device-width : 1024px) and (max-device-width : 1365px) {
    .dai_coLrsty {
        background-color: #fafafa;
        padding: 2.7vw;
        padding-bottom: 1.6vw;
        border-radius: 1vw;
        box-shadow: 0px 2px 1.9vw rgba(0, 0 ,0 , 0.18);
        margin-left: -6.5vw;
        margin-right: 8vw;
        margin-top: -10vw;
        width: 89%;
    }
    .heaD_font{
        font-size: calc(10px + 1.8vw);
        font-family: aleta-bold;
        color: white;
        padding-bottom: 3.2vw;
        margin-top: 8vw;
    }
    .heaD_fontPro{
        font-size: calc(10px + 1.8vw);
        font-family: aleta-bold;
        color: white;
        padding-bottom: 3.2vw;
        margin-top: -2vw;
    }
}
@media only screen and (min-device-width : 1366px) and (max-device-width : 1600px) {
    .dai_coLrsty {
        background-color: #fafafa;
        padding: 2.7vw;
        padding-bottom: 1.6vw;
        border-radius: 1vw;
        box-shadow: 0px 2px 1.9vw rgba(0, 0 ,0 , 0.18);
        margin-left: -7vw;
        margin-right: 8vw;
        margin-top: -9vw;
        margin-bottom: 11vw;
        width: 34vw;
    }
    .heaD_font{
        font-size: calc(10px + 1.8vw);
        font-family: aleta-bold;
        color: white;
        padding-bottom: 2.2vw;
        padding-top: 4vw;   
    }
    .heaD_fontPro{
        font-size: calc(10px + 1.8vw);
        font-family: aleta-bold;
        color: white;
        padding-bottom: 2.2vw;
        padding-top: 4vw;
    }
}
@media only screen and (min-device-width : 1600px) {
    .dai_coLrsty {
        background-color: #fafafa;
        padding: 2.7vw;
        padding-bottom: 2vw;
        border-radius: 1vw;
        box-shadow: 0px 2px 1.9vw rgba(0, 0 ,0 , 0.18);
        margin-left: -6vw;
        margin-right: 8vw;
        margin-top: -8vw;
        width: 31vw;
    }
    .heaD_font{
        font-size: calc(10px + 1.8vw);
        font-family: aleta-bold;
        color: white;
        padding-bottom: 3.2vw;
        padding-left: 1vw;
        padding-top: 4vw;
    }
    .heaD_fontPro{
        font-size: calc(10px + 1.8vw);
        font-family: aleta-bold;
        color: white;
        padding-bottom: 3.2vw;
        padding-left: 1vw;
        padding-top: 4vw;
    }
}




.clientAlignMent{
    padding-top: 4vw;
}
.backG_colR{
    margin-bottom: 3vw;
    border-radius: 1vw;
}
.pro_DeV{
    margin-top: 14.7vmax;
}


/* @media only screen and (min-device-width : 1024px) and (max-device-width : 787px) {}
@media only screen and (min-device-width : 768px) {} */
.arroW_lastesT{
    padding-left: 2.5vw;
    padding-top: 3.1vw;
    padding-bottom: 1.5vmax;
    font-family: aleta-bold;
    font-size: calc(10px + 0.8vw);
    color: #303030;
}
/* .vieW_btn{
    background-color: #f7f7f7;
    height: 9vmax;
    border-radius: 1vw;
    margin-bottom: 12vmax;
    margin-left: -2.3vw;
} */
.raW_styl{
    width: 26vw;
    margin-left: -1vw;
}

.heaD_Profont{
    font-size: calc(10px + 1.8vw);
    font-family: aleta-bold;
    color: black;
    padding-bottom: 3.2vw;
}
.closeIconnav:hover{
    cursor:pointer;
}
@media only screen and (min-device-width : 300px) and (max-device-width : 767px) {
    .vieW_btn {
        background-color: #f7f7f7;
        height: 9vmax;
        border-radius: 3vw;
        margin-bottom: 12vmax;
        
    }
    .fot_hoMe_coLor{
        background-color: #f7f7f7;
        padding-top: 7vw;
        height: 29vh;
    }
    
    .seeProfoot_home{
        color: #adadad;
        font-size: calc(10px + 0.5vw);
        font-family: aleta-bold;
        font-weight: 700;
        margin-bottom: -1.6vw;
    }
    .largerFoottext{
        color: #303030;
        font-size: calc(15px + 3.5vw);
        font-family: aleta-bold;
        margin-top: -10px;
    }
    .aroowFootHome{
        margin-top: calc(2.9em + -2.3vmax);
        width: 10vw;
        margin-left: -3vw;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1023px) {
    .vieW_btn {
        background-color: #f7f7f7;
        height: 9vmax;
        border-radius: 1vw;
        margin-bottom: 12vmax;
        margin-top: 17vw;
        /* margin-left: -2.3vw; */
    }
    .fot_hoMe_coLor{
        background-color: #f7f7f7;
        padding-top: 10vw;
        height: 25vh;
    }
    .fot_hoMe_coLor:hover{
        background-color: #e0e0e0;
        padding-top: 55vw;
        padding-bottom: 15vw;
        height: 100vh;
    }
    .seeProfoot_home{
        color: #adadad;
        font-size: calc(10px + 1vw);
        font-family: aleta-bold;
        font-weight: 700;
        margin-bottom: -0.6vw;
    }
    .largerFoottext{
        color: #303030;
        font-size: calc(15px + 4vw);
        font-family: aleta-bold;
    }
    .aroowFootHome{
        margin-top: calc(2.9em + 0.9vmax);
        width: 10vw;
        margin-left: 2vw;
    }
}
@media only screen and (min-device-width : 1024px) and (max-device-width : 1365px) {
    .vieW_btn {
        background-color: #f7f7f7;
        height: 9vmax;
        border-radius: 1vw;
        margin-bottom: 12vmax;
        margin-left: -4.7vw;
        margin-top: 6.2vw;
    }
    .fot_hoMe_coLor{
        background-color: #f7f7f7;
        padding-top: 7vw;
        padding-bottom: 8vw;
        height: 35vh;
    }
    .fot_hoMe_coLor:hover{
        background-color: #e0e0e0;
        padding-top: 7vw;
        padding-bottom: 8vw;
        height: 35vh;
    }
    .seeProfoot_home{
        color: #adadad;
        font-size: calc(10px + 1vw);
        font-family: aleta-bold;
        font-weight: 700;
        margin-bottom: -0.6vw;
    }
    .largerFoottext{
        color: #303030;
        font-size: calc(15px + 3.5vw);
        font-family: aleta-bold;
    }
    .aroowFootHome{
        margin-top: calc(2.9em + 0.9vmax);
        width: 8vw;
        margin-left: 1vw;
    }
}
@media only screen and (min-device-width : 1366px) and (max-device-width : 1600px) {
    .vieW_btn {
        background-color: #f7f7f7;
        height: 9vmax;
        border-radius: 1vw;
        margin-bottom: 12vmax;
        margin-left: -4.7vw;
        margin-top: 4.5vw;
    }
    .fot_hoMe_coLor{
        background-color: #f7f7f7;
        padding-top: 8vw;
        padding-bottom: 15vw;
        height: 12vh;
    }
    .fot_hoMe_coLor:hover{
        background-color: #e0e0e0;
        padding-top: 8vw;
        padding-bottom: 15vw;
        height: 12vh;
    }
    .seeProfoot_home{
        color: #adadad;
        font-size: calc(10px + 0.5vw);
        font-family: aleta-bold;
        font-weight: 700;
        margin-bottom: -0.6vw;
    }
    .largerFoottext{
        color: #303030;
        font-size: calc(15px + 2.8vw);
        font-family: aleta-bold;
    }
    .aroowFootHome{
        margin-top: calc(2.4em + 0.15vmax);
        width: 7vw;
        margin-left: 2.5vw;
    }
}
@media only screen and (min-device-width : 1600px) {
    .vieW_btn {
        margin-top: 4.5vw;
        background-color: #f7f7f7;
        height: 9vmax;
        border-radius: 1vw;
        margin-bottom: 12vmax;
        margin-left: -4.3vw;
    }
    .fot_hoMe_coLor{
        background-color: #f7f7f7;
        padding-top: 7vw;
        padding-bottom: 9vw;
        height: 40vh;
    }
    .fot_hoMe_coLor:hover{
        background-color: #e0e0e0;
        padding-top: 7vw;
        padding-bottom: 9vw;
        height: 40vh;
    }
    .seeProfoot_home{
        color: #adadad;
        font-size: calc(10px + 1vw);
        font-family: aleta-bold;
        font-weight: 700;
        margin-bottom: -0.6vw;
    }
    .largerFoottext{
        color: #303030;
        font-size: calc(15px + 4vw);
        font-family: aleta-bold;
    }
    .aroowFootHome{
        margin-top: calc(2.9em + 0.9vmax);
        width: 10vw;
        margin-left: 3vw;
    }
}
.servicE_Banner{
    background-image: url("../../Assets/Images/homePanelBack.jpg");
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   background-position-x: right;
}