.visulIdntityHedng{
    margin-top: 10vmax;
    font-size : calc(12px + 0.4vmax);
    font-family: montserrat-extrabold;
}
.devVidentity{
    padding-left: 0vw;
}
.V-IdentityLogo{
    margin-top: 3vmax;
    font-size : calc(9px + 0.7vmax);
    font-family: montserrat-extrabold;
}
.IdentityPera{
    margin-top: 1vmax;
    font-size: calc(12px + 0.3vw);
    font-family: montserrat-light;
    color: #adadad;
    line-height: 2.2vmax;
    padding-right: 3vw;
}
.D-logo{
    margin-top: 3vmax;
    width: calc(50px + 16vmax);
}
.devVidentity2{
    padding-left: 0vw;
}
.visulIdntityshortHedng{
    margin-top: 3vmax;
    font-size : calc(9px + 0.7vmax);
    font-family: montserrat-extrabold;
}
.IdentityPera2{
    margin-top: 1vmax;
    font-size: calc(12px + 0.3vw);
    font-family: montserrat-light;
    color: #adadad;
    line-height: 2.2vmax;
    padding-right: 3vw;
}
.devVidentity3{
    display: inline-block;
    padding-left: 0vw;
}
.devColors{
    height: 3vmax;
    width: 3vmax;
    background-color: black;
    margin-top: 5vmax;
    float: left;
    margin-right: 3vmax;
}
.devVidentity4{
    padding-left: 0vw;
}
.visulIdntityshortHedng1{
    margin-top: 3vmax;
    font-size: calc(9px + 0.7vmax);
    font-family: montserrat-extrabold;
}
.IdentityPera3{
    margin-top: 1vmax;
    font-size: calc(12px + 0.3vw);
    font-family: montserrat-light;
    color: #adadad;
    line-height: 2.2vmax;
    padding-right: 3vw;
}
.visulIdntityshortHedng2{
    font-size: calc(10px + 0.9vmax);
    margin-top: 3vmax;
}
.visulIdntityshortHedng3{
    font-size: calc(10px + 0.9vmax);
}
.IdentityPeraMob{
    
    color: #adadad;
    letter-spacing: -0.05vmax;
    line-height: 6vw;
    margin-top: 1vmax;
    font-size : calc(9px + 0.7vmax);
    font-family: montserrat-light;
    padding-right: 3vw;
}
.IdentityPeraMob2{
    margin-top: 1vmax;
    font-size : calc(9px + 0.7vmax);
    font-family: montserrat-light;
    padding-right: 3vw;
    color: #adadad;
    letter-spacing: -0.05vmax;
    line-height: 6vw;
}