.blgDetl{
    font-family: montserrat-light;
}
.blgDetl2{
    font-weight: 600;
}
.blgDetl3{
    font-family: montserrat-extrabold;
}
.blgDetl5{
    text-align: center;
    font-family: montserrat-light;
}
.blgDetl6{
    color: blue;
}
.blgDetlDev{
    height: 90vh;
    background-color: black;
}
.blgDetl7{
    text-align: center;
}
.blgDetlDev1{
    border: 1px solid black;
    padding-top: 5vw;
    text-align: center;
    padding-right: 15vw;
    padding-left: 14vw;
}
.blgDetl8{
    font-family: montserrat-extrabold;
}
.blgDev{
    padding-right: 3vw;
    padding-left: 3vw;
    line-height: calc(1rem + 1vw);
}
.blgDetlImg{
    width: calc(1rem + 1vw);
}
.blgDetl9{
    float: left;
    font-family: montserrat-light; 
}
.blgDetl10{
    float: right;
    font-family: montserrat-light; 
}