.blgDetl{
    font-family: aleta-light;
    color:black;
}
.blgDetl2{
    font-weight: 600;
    color:black;
}
.blgDetl3{
    font-family: aleta-bold;
    color:black;
}
.blgDetl5{
    text-align: center;
    font-family: aleta-light;
    color:black;
}
.blgDetl6{
    color: blue;
}
.blgDetlDev{
    height: 90vh;
    background-color: white;
    color:white;
}
.blgDetl7{
    text-align: center;
    color:black;
}
.blgDetlDev1{
    border: 1px solid black;
    padding-top: 5vw;
    text-align: center;
    padding-right: 15vw;
    color:white;
    padding-left: 14vw;
}
.blgDetl8{
    font-family: aleta-bold;
    color:#adadad;
}

.blgDetlImg{
    width: calc(1rem + 1vw);
    color:white;
}
.blgDetl9{
    float: left;
    font-family: aleta-light; 
    color: #adadad;
}
.blgDetl10{
    float: right;
    font-family: aleta-light; 
    color:#adadad;
}
@media only screen and (min-device-width : 360px) and (max-device-width : 767px) {
    .blgDev{
        padding-right: 3vw;
        padding-left: 3vw;
        padding-top: 22vw;
        line-height: calc(1rem + 1vw);
        color:white;
    }
}
@media only screen and (min-device-width : 768px) {
    .blgDev{
        padding-right: 3vw;
        padding-left: 3vw;
        padding-top: 10vw;
        line-height: calc(1rem + 1vw);
        color:white;
    }
}