.team_txt{
    font-size: calc(10px + 1.9vw);
    font-family: montserrat-extrabold;
    text-align: center;
}
.team_txt_mob{
    font-size: 7vw;
    font-family: montserrat-extrabold;
    text-align: center;
    margin-top: 2.2vw;

}
@media only screen and (min-device-width : 300) and (max-device-width : 767px){
    .imG_teamMem{
        margin-left: -1vw;
        border-radius: 1vw;
        width: 17vw;
    }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1023px){
    .imG_teamMem{
        margin-left: -1vw;
        border-radius: 1vw;
        width: 17vw;
    }
}
@media only screen and (min-device-width : 1024px) and (max-device-width : 1365px){
    .imG_teamMem{
        margin-left: -1vw;
        border-radius: 1vw;
        width: 17vw;
    }
}
@media only screen and (min-device-width : 1366px){
    .imG_teamMem{
        margin-left: -1vw;
        width: 17vw;
        border-radius: 1vw;
    }
}
.imG_teamMem_Mob{
    width: 100%;
    text-align: center;
    border-radius: 1vw;
    margin-bottom: 10vw;
}
.war_marG{
    margin-top: -2vw;
    padding-bottom: 1.5vw;
}