.devFondp2{
    background-color: white;
    border-radius: 1vw;
    margin-bottom: 14vmax;
}
.devFondp2Img{
    width: 4vmax;
    padding-top: 10.4vw;
    padding-bottom: 3.1vw;
    margin-left: 7.2vw;
}
.devFondp2Pera {
    font-size: calc(15px + 1.15vw);
    color: #adadad;
    font-family: montserrat-light;
    margin-left: 7.2vw;
    margin-right: 3vw;
    letter-spacing: 0.25vw;
    padding-bottom: 3.1vw;
}
.devFondp2Prof{
    width: calc(25px + 4vmax);
    margin-left: calc(-25px + 1.2vw);
}
.devFond1{
    margin-bottom: 3.1vw;
}
.devFondp2Name{
    color: #303030;
    font-family: montserrat-extrabold;
    margin-top: calc(5px + 0.3vw);
    font-size: calc(15px + 0.5vw);
}
.devFondp2comp{
    color: black;
    font-family: montserrat-light;
    font-size: calc(10px + 0.2vw);
    margin-top: calc(-10px - 0.5vw);
}
.imgDev{
    padding: 0vw;
} 

@media only screen and (min-device-width : 300px) and (max-device-width : 767px) {
    .devFondp2Name {
        color: #303030;
        font-family: montserrat-extrabold;
        margin-top: calc(5px + 0.3vw);
        font-size: calc(15px + 0.5vw);
        padding-left: 4vw;
    }
    .devFondp2comp {
        color: black;
        font-family: montserrat-light;
        font-size: calc(10px + 0.2vw);
        margin-top: calc(-10px - 0.5vw);
        padding-left: 4vw;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1023px) {}
@media only screen and (min-device-width : 1024px) and (max-device-width : 1365px) {}
@media only screen and (min-device-width : 1366px) and (max-device-width : 1600px) {}
@media only screen and (min-device-width : 1600px) {}