.changingdec{
    text-decoration: none !important;
}
@media only screen and (min-device-width : 300px) and (max-device-width : 767px) {
    .dai_coLrsty {
        background-color: #fafafa;
        padding: 2.7vw;
        padding-bottom: 1.6vw;
        border-radius: 1vw;
        box-shadow: 0px 2px 1.9vw rgba(0, 0 ,0 , 0.18);
        margin-left: -8vw;
        margin-right: 8vw;
        margin-top: -7vw;
    }
    .heaD_font{
        font-size: 7vw;
        font-family: montserrat-extrabold;
        color: black;
        padding-bottom: 3.2vw;
        padding-left: 5vw;
    }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1023px) {
    .dai_coLrsty {
        background-color: #fafafa;
        padding: 2.7vw;
        padding-bottom: 1.6vw;
        border-radius: 1vw;
        box-shadow: 0px 2px 1.9vw rgba(0, 0 ,0 , 0.18);
        margin-left: -8vw;
        margin-right: 8vw;
        margin-top: -7vw;
        width: 95%;
    }
    .heaD_font{
        font-size: calc(10px + 1.8vw);
        font-family: montserrat-extrabold;
        color: black;
        padding-bottom: 3.2vw;
        padding-left: 1vw;
    }
}
@media only screen and (min-device-width : 1024px) and (max-device-width : 1365px) {
    .dai_coLrsty {
        background-color: #fafafa;
        padding: 2.7vw;
        padding-bottom: 1.6vw;
        border-radius: 1vw;
        box-shadow: 0px 2px 1.9vw rgba(0, 0 ,0 , 0.18);
        margin-left: -6.5vw;
        margin-right: 8vw;
        margin-top: -10vw;
        width: 89%;
    }
    .heaD_font{
        font-size: calc(10px + 1.8vw);
        font-family: montserrat-extrabold;
        color: black;
        padding-bottom: 3.2vw;
    }
}
@media only screen and (min-device-width : 1366px) and (max-device-width : 1600px) {
    .dai_coLrsty {
        background-color: #fafafa;
        padding: 2.7vw;
        padding-bottom: 1.6vw;
        border-radius: 1vw;
        box-shadow: 0px 2px 1.9vw rgba(0, 0 ,0 , 0.18);
        margin-left: -7vw;
        margin-right: 8vw;
        margin-top: -9vw;
        margin-bottom: 11vw;
        width: 34vw;
    }
    .heaD_font{
        font-size: calc(10px + 1.8vw);
        font-family: montserrat-extrabold;
        color: black;
        padding-bottom: 3.2vw;
    }
}
@media only screen and (min-device-width : 1600px) {
    .dai_coLrsty {
        background-color: #fafafa;
        padding: 2.7vw;
        padding-bottom: 2vw;
        border-radius: 1vw;
        box-shadow: 0px 2px 1.9vw rgba(0, 0 ,0 , 0.18);
        margin-left: -6vw;
        margin-right: 8vw;
        margin-top: -8vw;
        width: 31vw;
    }
    .heaD_font{
        font-size: calc(10px + 1.8vw);
        font-family: montserrat-extrabold;
        color: black;
        padding-bottom: 3.2vw;
        padding-left: 1vw;
    }
}

.backG_colR{
    background-color: #f7f7f7;
    margin-bottom: 13vw;
}
.pro_DeV{
    margin-top: 14.7vmax;
}

.fot_hoMe_coLor{
    background-color: #f7f7f7;
    padding-top: 8vw;
    padding-bottom: 7vw;
}
.fot_hoMe_coLor:hover{
    background-color: #e0e0e0;
    padding-top: 8vw;
    padding-bottom: 7vw;
}
/* @media only screen and (min-device-width : 1024px) and (max-device-width : 787px) {}
@media only screen and (min-device-width : 768px) {} */
.arroW_lastesT{
    padding-left: 2.5vw;
    padding-top: 3.1vw;
    padding-bottom: 1.5vmax;
    font-family: montserrat-extrabold;
    font-size: calc(10px + 0.8vw);
    color: #303030;
}
/* .vieW_btn{
    background-color: #f7f7f7;
    height: 9vmax;
    border-radius: 1vw;
    margin-bottom: 12vmax;
    margin-left: -2.3vw;
} */
.raW_styl{
    width: 26vw;
    margin-left: -1vw;
}

.heaD_Profont{
    font-size: calc(10px + 1.8vw);
    font-family: montserrat-extrabold;
    color: black;
    padding-bottom: 3.2vw;
}

@media only screen and (min-device-width : 300px) and (max-device-width : 767px) {
    .vieW_btn {
        background-color: #f7f7f7;
        height: 9vmax;
        border-radius: 3vw;
        margin-bottom: 12vmax;
        
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1023px) {
    .vieW_btn {
        background-color: #f7f7f7;
        height: 9vmax;
        border-radius: 1vw;
        margin-bottom: 12vmax;
        margin-top: 17vw;
        /* margin-left: -2.3vw; */
    }
}
@media only screen and (min-device-width : 1024px) and (max-device-width : 1365px) {
    .vieW_btn {
        background-color: #f7f7f7;
        height: 9vmax;
        border-radius: 1vw;
        margin-bottom: 12vmax;
        margin-left: -4.7vw;
        margin-top: 10vw;
    }
}
@media only screen and (min-device-width : 1366px) and (max-device-width : 1600px) {
    .vieW_btn {
        background-color: #f7f7f7;
        height: 9vmax;
        border-radius: 1vw;
        margin-bottom: 12vmax;
        margin-left: -4.7vw;
        margin-top: 8.5vw;
    }
}
@media only screen and (min-device-width : 1600px) {
    .vieW_btn {
        margin-top: 4.5vw;
        background-color: #f7f7f7;
        height: 9vmax;
        border-radius: 1vw;
        margin-bottom: 12vmax;
        margin-left: -4.3vw;
    }
}