.raw_background{
    padding-top: 4vw;
    margin-bottom: 12.5vw;
    
}
.back_divColor{
    background-color: #f7f7f7;
    box-shadow: 0px 2px 1.9vw rgba(0, 0 ,0 , 0.10);
    border-radius: 20px;
    padding-bottom: 1vw;
}
.back_divColor_moB{
    background-color: #f7f7f7;
    box-shadow: 0px 2px 1.9vw rgba(0, 0 ,0 , 0.10);
    border-radius: 20px;
    padding-bottom: 1vw;
    margin-bottom: 10vw;
}
.locat_office{
    width: 17.5vw;
    padding-top: 2.6vw;
    padding-left: 1vw;
}
.local_imgOffice{
    width: 71.5vw;
    padding-top: 5.6vw;
    padding-left: 2vw;
    margin-bottom: 5vw;
}
.detail_text{
    font-size: 5vw;
    font-family: aleta-light;
    color: #adadad;
    padding-left: 2vw;
}
.detail_Email{
    font-size: 5vw;
    font-family: aleta-light;
    color: #adadad;
    padding-left: 2vw;
    padding-bottom: 6vw;
}
.iner_head_text{
    font-size: 1.15vw;
    font-family: aleta-light;
    color: #adadad;
    padding-left: 1vw;
}

.background_office{
    padding-top: 5vw;
}

.off_head_Mob{
    font-size: 7vw;
    font-family: aleta-bold;
    color: white;
    padding-bottom: 10vw;
    margin-left: -8vw;
    margin-top: -6vw;
}
.demo{
    color:white;
    margin-top: 20%;
    font-family: aleta-light;
}
.off_head_cont{
    font-size: 1.2vw;
    font-family: aleta-bold;
    color:white;
}
.demo_cont{
    color:black;
    margin-top: 20%;
    font-family: aleta-light;
}

.ari_head{
    font-size:1.875vw;
    font-family: aleta-bold;
    color:white; 
}
.tus_head{
    font-size:1.875vw;
    font-family: aleta-bold;
    color:white; 
}
.kara_head{
    font-size:1.875vw;
    font-family: aleta-bold;
    color:white; 
}
.mini_head{
    font-size: 1.2vw;
    font-family: aleta-bold;
    color:white;
    opacity: 0.5;
}
.raw_backColor{
    background-color: black;
    height: 177px;
}


.oCvG{
    padding-right: 0px;
}
@media only screen and (min-device-width : 360px) and (max-device-width : 767px) {
    .off_head{
        font-size: calc(12px + 1.9vw);
        font-family: aleta-bold;
        color: white;
    }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1023px) {

    .off_head{
        font-size: calc(12px + 1.7vw);
        font-family: aleta-bold;
        color: white;
    }
}
@media only screen and (min-device-width : 1024px) and (max-device-width : 1365px) {

    .off_head{
        font-size: calc(12px + 1.9vw);
        font-family: aleta-bold;
        color: white;
    }
}
@media only screen and (min-device-width : 1366px){

    .off_head{
        font-size: calc(12px + 1.9vw);
        font-family: aleta-bold;
        color: white;
    }
}