.ban{
    margin-top: 17vmax;
}
.banDev{
    padding-right: 0vw;
}
.banDevSmall{
    padding-right: 0vw;
}
.banPeraDev{
    background-color: #f8f8f8;
    width: 12vw;
    border-radius: 1vw;
}
.banPeraDevsmall{
    background-color: #f8f8f8;
    width: 20vw;
    border-radius: 1vw;
}
.banPera{
    font-size: 1.15vw;
    font-family: aleta-light;
    background-color: #f8f8f8;
    border-radius: 1vw;
    width: 13vw;
    padding: 1.1vw;
    background: -webkit-linear-gradient( 360deg,#0ac3d0 , #953797 );
       -webkit-background-clip: text;
       -webkit-text-fill-color: transparent;
}
.banPeraSmall{
    font-size: 2.15vw;
    font-family: aleta-light;
    background-color: #f8f8f8;
    border-radius: 1vw;
    width: 20vw;
    padding: 1.1vw;
    background: -webkit-linear-gradient( 360deg,#0ac3d0 , #953797 );
       -webkit-background-clip: text;
       -webkit-text-fill-color: transparent;
}
.banPera1{
    font-size: 1.15vw;
    font-family: aleta-light;
    border-radius: 1vw;
    width: 12vw;
    padding: 1.1vw;
}
.banPera1Small{
    font-size: 1.15vw;
    font-family: aleta-light;
    border-radius: 1vw;
    width: 12vw;
    padding: 1.1vw;
}


.banHedng1{
    font-size: 5vw;
}

.banDev1{
    background-image: url("../../Assets/Images/circle.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    border-radius: calc(10px + 1vh);
    padding-left: 0vw;
    height: 29.3vmax;
}
.banDevPro{
    background-image: url("../../Assets/Images/acf.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    border-radius: calc(10px + 1vh);
    /* padding-left: 0vw; */
    height: 29.3vmax;
}
.banDev1Small{
    background-image: url("../../Assets/Images/circle.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    border-radius: calc(10px + 1vh);
    padding-left: 0vw;
    height: 29.3vmax;
}
.banDev1ProSmall{
    background-image: url("../../Assets/Images/acf.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    border-radius: 2vw;
    padding-left: 0vw;
    height: 25.3vmax;
}
.banDev1ProMb{
    background-image: url("../../Assets/Images/acf.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    border-radius: 2vw;
    padding-left: 0vw;
    height: 17.3vmax;
}


.banChildDev1{
    box-shadow: 0px 2px 1.9vw rgba(0, 0 ,0 , 0.18);
    background-color: white;
    margin-top: 5vmax;
    /* padding: 3.1vw; */
    border-radius: 1vw;
    padding: 2.15vw 3vw 1.3vw 2.15vw;
}
.banChildDev1Small{
    box-shadow: 0px 2px 1.9vw rgba(0, 0 ,0 , 0.18);
    background-color: white;
    margin-top: 4vmax;
    /* padding: 3.1vw; */
    border-radius: 1vw;
}
.peraChild1{
    padding: 2.9vw;
    padding-bottom: 1vw;
    font-size: calc(6.5px + 0.6vmax);
    color: #adadad;
    font-family: aleta-light;
}
.peraChild2{
    padding-right: 2.9vw;
    padding-left: 2.9vw;
    padding-bottom: 2.9vw;
    font-size: calc(6.5px + 0.6vmax);
    color: #adadad;
    font-family: aleta-light;
}
.banServiceChildDev1{
    box-shadow: 0px 2px 1.9vw rgba(0, 0 ,0 , 0.18);
    background-color: white;
    margin-top: 9vmax;
    /* padding: 3.1vw; */
    border-radius: 1vw;
    margin-left: -4vmax;
}
.banServiceChildDev1Small{
    box-shadow: 0px 2px 1.9vw rgba(0, 0 ,0 , 0.18);
    background-color: white;
    margin-top: 11vmax;
    padding: 3.1vw;
    border-radius: 1vw;
    margin-left: -4vmax;
}

@media only screen and (min-device-width : 300px) and (max-device-width : 767px) {
    .banHedngSmall{
        font-size: 5vw;
        font-family: aleta-bold;
        padding-top: 0vw;
        color: white;
    }
    .banHedng2{
        font-size: 5.1vw;
        font-family: aleta-bold;
        color: white;
        padding-top: calc(0.3vw + 8vmax);
    }
    .banHedng1Small{
        font-size: 5vw;
    }
    .banHedng2Small {
        font-size: 5.1vw;
        font-family: aleta-bold;
        color: white;
        padding-top: 6.2vw;
    }
    .banServiceHedng2Small {
        font-size: 4.8vw;
        font-family: aleta-bold;
        color: white;
        padding-top: 14.5vw;
    }
    .banServiceHedngSmall{
        font-size: 4.8vw;
        font-family: aleta-bold;
        padding-top: calc(2px + 8.9vmax);
    }
    .banChildDev1Small{
        box-shadow: 0px 2px 1.9vw rgba(0, 0 ,0 , 0.18);
        background-color: white;
        margin-top: 2vmax;
        /* padding: 3.1vw; */
        border-radius: 1vw;
    }
    .BanrPera1Mb{
        font-family: aleta-bold;
        font-size: calc(0.5em + 0.5vw);
        color: #303030;
        padding: 3.15vw 0vw 1.15vw 1.15vw;
    }
    
    
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1023px) {
    .banHedngSmall{
        font-size: 5.8vw;
        font-family: aleta-bold;
        padding-top: calc(2px + 8.9vmax);
        color: white;
    }
    .banServiceHedngSmall{
        font-size: 5.8vw;
        font-family: aleta-bold;
        padding-top: calc(2px + 8.9vmax);
    }
    .banHedng1Small{
        font-size: 5.8vw;
    }
    .banHedng2Small {
        font-size: 5.8vw;
        font-family: aleta-bold;
        color: white;
        padding-top: calc(0.4vw + 9.2vmax);
    }
    .banServiceHedng2Small {
        font-size: 4.8vw;
        font-family: aleta-bold;
        color: white;
        padding-top: 10.5vw;
    }
    .banServiceHedng1Small {
        font-size: 5.8vw;
    }
    .banHedngSmall {
        font-size: 5.1vw;
        font-family: aleta-bold;
        padding-top: 7.2vw;
        color: white;
    }
    .banHedng1Small {
        font-size: 5.1vw;
    }
    .banHedng2Small {
        font-size: 5.2vw;
        font-family: aleta-bold;
        color: white;
        padding-top: 13.5vw;
    }
    .BanrPera1Mb{
        
        font-family: aleta-bold;
        font-size: calc(0.5em + 0.5vw);
        color: #303030;
        padding: 3.15vw 4.1vw 1.15vw 1.15vw;
    }
    .banChildDev1Small{
        box-shadow: 0px 2px 1.9vw rgba(0, 0 ,0 , 0.18);
        background-color: white;
        margin-top: 2vmax;
        /* padding: 3.1vw; */
        border-radius: 1vw;
    }
    .banHedng2{
        font-size: 5.1vw;
        font-family: aleta-bold;
        color: white;
        padding-top: calc(0.3vw + 8vmax);
    }
    .banDev1ProSmall{
        background-image: url("../../Assets/Images/acf.png");
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: center;
        border-radius: 2vw;
        padding-left: 0.3vw;
        height: 25.3vmax;
    }
}
@media only screen and (min-device-width : 1024px) and (max-device-width : 1365px) {
    .banServiceHedng {
        font-size: 4.9vw;
        font-family: aleta-bold;
        padding-top: 10vmax;
    }
    .banServiceHedng1 {
        font-size: 5vw;
    }
    .banServiceHedng2{
        font-size: 4.9vw;
        font-family: aleta-bold;
        color: white;
        padding-top: calc(0.2vw + 8vmax);
    }
    .banHedng{
        font-size: 5.15vw;
        font-family: aleta-bold;
        padding-top: 7vw;
        color: white;
    }
    .banHedng1{
        font-size: 5.15vw;
    }
    .banHedng2{
        font-size: 5.1vw;
        font-family: aleta-bold;
        color: white;
        padding-top: calc(0.3vw + 8.3vmax);
    }
    .banChildDev1{
        box-shadow: 0px 2px 1.9vw rgba(0, 0 ,0 , 0.18);
        background-color: white;
        margin-top: 4vmax;
        /* padding: 3.1vw; */
        border-radius: 1vw;
        padding: 2.15vw 4vw 1.3vw 2.15vw;
    }
}
@media only screen and (min-device-width : 1366px) and (max-device-width : 1600px) {
    .banServiceHedng {
        font-size: 5vw;
        font-family: aleta-bold;
        padding-top: 10vmax;
    }
    .banServiceHedng2{
        font-size: 5vw;
        font-family: aleta-bold;
        color: white;
        padding-top: calc(0.3vw + 8vmax);
    }
    .banHedng{
        font-size: 5.15vw;
        font-family: aleta-bold;
        padding-top: 6.6vmax;
        color: white;
    }
    .banHedng1{
        font-size: 5.15vw;
    }
    .banChildDev1{
        box-shadow: 0px 2px 1.9vw rgba(0, 0 ,0 , 0.18);
        background-color: white;
        margin-top: 3vmax;
        /* padding: 3.1vw; */
        border-radius: 1vw;
        padding: 2.15vw 4vw 1.3vw 2.15vw;
    }
    .banHedng2{
        font-size: 5.15vw;
        font-family: aleta-bold;
        color: white;
        padding-top: 8.25vw;
    }
}
@media only screen and (min-device-width : 1600px) {
    .banServiceHedng {
        font-size: 5vw;
        font-family: aleta-bold;
        padding-top: 10vmax;
    }
    .banServiceHedng2{
        font-size: 5vw;
        font-family: aleta-bold;
        color: white;
        padding-top: calc(0.3vw + 8vmax);
    }
    .banHedng{
        font-size: 5.2vw;
        font-family: aleta-bold;
        padding-top: 6.6vmax;
        color: white;
    }
    .banHedng1{
        font-size: 5vw;
    }
    .banChildDev1{
        box-shadow: 0px 2px 1.9vw rgba(0, 0 ,0 , 0.18);
        background-color: white;
        margin-top: 3vmax;
        /* padding: 3.1vw; */
        border-radius: 1vw;
        padding: 2.15vw 5vw 1.3vw 2.15vw;
    }
    .banHedng2{
        font-size: 5.15vw;
        font-family: aleta-bold;
        color: white;
        padding-top: 8.3vw;
    }
}

