
.seeBckgrndColr{
    background-color: white;
}
.see_Txt{
    color: black;
    font-size: calc(10px + 0.5vw);
    font-family: aleta-bold;
    margin-top: 10vw;
}
.see_txt1{
    color: black;
    font-size: calc(1vw + 3vw);
    font-family: aleta-bold;
    margin-bottom: 10vw;
}
.arrowRight{
    margin-top: calc(4rem + 9.5vw);
    width: 10vw;
}

.servisDevChild {
    color: #fafafa;
    background-color: #fafafa;
    border-radius: 1vw;
    margin-left: 3.1vw;
    box-shadow: 0px 2px 1.9vw rgba(0, 0 ,0 , 0.18);
}
.HomeServisDevChild {
    color: #fafafa;
    background-color: #fafafa;
    border-radius: 1vw;
    box-shadow: 0px 2px 1.9vw rgba(0, 0 ,0 , 0.18);
}
.servisDevChildSmMd {
    color: #fafafa;
    background-color: #fafafa;
    border-radius: 1vw;
    box-shadow: 0px 2px 1.9vw rgba(0, 0 ,0 , 0.18);
}

.consul_BgImg {
    background-image: url(../../Assets/Images/consultation.png);
    height: 23.5vmax;
    border-radius: 1vw;
    background-size: cover;
    background-position-x: right;
    margin-bottom: 12vmax;
}
.devlop_BgImg {
    background-image: url(../../Assets/Images/dev.png);
    height: 23.5vmax;
    border-radius: 1vw;
    background-size: cover;
    background-position-x: right;
    margin-bottom: 12vmax;
}
.desgn_BgImg {
    background-image: url(../../Assets/Images/design.png);
    height: 23.5vmax;
    border-radius: 1vw;
    background-size: cover;
    background-position-x: right;
    margin-bottom: 12vmax;
}
.prodctn_BgImg {
    background-image: url(../../Assets/Images/production.png);
    height: 23.5vmax;
    border-radius: 1vw;
    background-size: cover;
    background-position-x: right;
    margin-bottom: 12vmax;
}

.prodctn_BgImgSmMd {
    background-image: url(../../Assets/Images/production.png);
    height: 15.5vmax;
    border-radius: 5vw;
    background-size: cover;
    background-position-x: right;
    margin-bottom: 6vmax;
}
.bgColr{
    margin-bottom: 16vw;
}

.blnkColr{
    background-color: #f7f7f7;
    height: 28vmax;
    border-radius: 1vw;
    margin-bottom: 12vmax;
}



@media only screen and (min-device-width : 300px) and (max-device-width : 767px) {
    .fotBgColr{
        background-color: #f7f7f7;
        padding-top: 9.4vw;
        padding-bottom: 8.4vw;
    }
    .headServicess{
        font-size: 7vw;
        font-family: aleta-bold;
        color: black;
        padding-bottom: 3.2vw;
        padding-left: 4.4vw;
    }
    .consul_BgImgSmMd{
        background-position: left;
        background-image: url(/static/media/consultation.fc339c9a.png);
        height: 24.5vh;
        border-radius: 2vh;
        background-size: cover;
        background-position-x: initial;
        margin-bottom: 21vmax;
        margin-left: 4vw;
        width: 72vw;
    }
    .servisPera {
        padding-left: 4.3vw;
        padding-top: 3.1vw;
        padding-right: 4.3vw;
        padding-bottom: 5.1vw;
        font-size: calc(12px + 0.3vw);
        font-family: aleta-light;
        color: #adadad;
        letter-spacing: -0.01vmax;
        line-height: calc(14px + 1.5vw);
        margin-bottom: -2vw;
        text-align: left;
    }
    .HomeServisDevChild {
        color: #fafafa;
        background-color: #fafafa;
        border-radius: 1vw;
        box-shadow: 0px 2px 3.3vmax rgba(0, 0 ,0 , 0.12);
        padding: 3.5vw;
        padding-bottom: 3vw;
        border-radius: 3vw;
        text-align: justify;
    }
    .servis_hedng {
        padding-top: 6.1vw;
        padding-left: 3.1vw;
        padding-bottom: 3.8vw;
        font-size: 6vw;
        font-family: aleta-bold;
        color: #ffffff;
    }
    .devlop_BgImgSmMd {
        background-image: url(/static/media/dev.49b8018f.png);
        background-position: left;
        height: 24.5vh;
        border-radius: 2vh;
        background-size: cover;
        background-position-x: initial;
        margin-bottom: 21vmax;
        margin-left: 4vw;
        margin-top: -5vw;
        width: 97vw !important;
    }
    .HomeProdctn_BgImg {
        background-image: url(/static/media/production.23a1f072.png);
        background-position: left;
        height: 24.5vh;
        border-radius: 2vh;
        background-size: cover;
        background-position-x: initial;
        margin-bottom: 21vmax;
        margin-left: 4vw;
        margin-top: -19vw;
        width: 97vw !important;
    }
    .desgn_BgImgSmMd{
        background-image: url(/static/media/design.cf494167.png);
        background-position: left;
        height: 24.5vh;
        border-radius: 2vh;
        background-size: cover;
        background-position-x: initial;
        margin-bottom: 21vmax;
        margin-left: 4vw;
        margin-top: -19vw;
        width: 72vw !important;
    }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1023px) {
    .headServicess{
        font-size: calc(10px + 1.8vw);
        font-family: aleta-bold;
        color: black;
        padding-bottom: 3.2vw;
    }
    .fotBgColr{
        background-color: #f7f7f7;
        padding-top: 6.4vw;
        padding-bottom: 6.4vw;
    }
    .fotBgColr:hover{
        background-color: #e0e0e0;
        padding-top: 6.4vw;
        padding-bottom: 6.4vw;
    }
    .consul_BgImgSmMd{
        background-position: left;
        background-image: url(/static/media/consultation.fc339c9a.png);
        height: 15.5vh;
        border-radius: 3vh;
        background-size: cover;
        background-position-x: initial;
        margin-bottom: 7vmax;
    }
    .servisPera {
        padding-left: 2.3vw;
        padding-top: 3.1vw;
        padding-right: 2.3vw;
        padding-bottom: 3.1vw;
        font-family: aleta-light;
        font-size: calc(1em + 0.1vmax);
        color: #adadad;
        letter-spacing: -0.03vmax;
        line-height: calc(1em + 0.4vw);
        margin-bottom: -2vw;
    }
    .HomeServisDevChild {
        color: #fafafa;
        background-color: #fafafa;
        border-radius: 1vw;
        box-shadow: 0px 2px 1.9vw rgba(0, 0 ,0 , 0.18);
    }
    .servis_hedng {
        padding-top: 3.1vw;
        padding-left: 3.1vw;
        padding-bottom: 5.8vw;
        font-size: 1.2vmax;
        font-family: aleta-bold;
        color: #ffffff;
    }
    .devlop_BgImgSmMd {
        background-image: url(/static/media/dev.49b8018f.png);
        height: 15.5vh;
        border-radius: 3vh;
        background-size: cover;
        background-position-x: right;
        margin-bottom: 5vmax;
        background-position: center;
    }
    .HomeProdctn_BgImg {
        background-image: url(/static/media/production.23a1f072.png);
        height: 15.5vmax;
        border-radius: 4vw;
        background-size: cover;
        background-position-x: right;
        margin-bottom: 6vmax;
    }
    .desgn_BgImgSmMd{
        background-image: url(/static/media/design.cf494167.png);
        height: 15.5vh;
        border-radius: 3vh;
        background-size: cover;
        background-position-x: right;
        margin-bottom: 8vmax;
        background-position: center;
    }
}
@media only screen and (min-device-width : 1024px) and (max-device-width : 1365px) {
    .headServicess{
        font-size: calc(10px + 1.8vw);
        font-family: aleta-bold;
        color: black;
        padding-bottom: 3.2vw;
    }
    .fotBgColr{
        background-color: #f7f7f7;
        padding-top: 5vw;
        padding-bottom: 5vw;
    }
    .fotBgColr:hover{
        background-color: #e0e0e0;
        padding-top: 5vw;
        padding-bottom: 5vw;
    }
    .consul_BgImgSmMd{
        background-position: left;
        background-image: url(/static/media/consultation.fc339c9a.png);
        height: 15.5vh;
        border-radius: 3vh;
        background-size: cover;
        background-position-x: initial;
        margin-bottom: 7vmax;
    }
    .servisPera {
        padding-left: 2.3vw;
        padding-top: 3.1vw;
        padding-right: 2.3vw;
        padding-bottom: 3.1vw;
        font-family: aleta-light;
        font-size: calc(1em + 0.1vmax);
        color: #adadad;
        letter-spacing: -0.03vmax;
        line-height: calc(1em + 0.4vw);
        margin-bottom: -2vw;
    }
    .HomeServisDevChild {
        color: #fafafa;
        background-color: #fafafa;
        border-radius: 1vw;
        box-shadow: 0px 2px 1.9vw rgba(0, 0 ,0 , 0.18);
    }
    .servis_hedng {
        padding-top: 3.1vw;
        padding-left: 3.1vw;
        padding-bottom: 5.8vw;
        font-size: 1.2vmax;
        font-family: aleta-bold;
        color: #ffffff;
    }
    .devlop_BgImgSmMd {
        background-image: url(/static/media/dev.49b8018f.png);
        height: 15.5vh;
        border-radius: 3vh;
        background-size: cover;
        background-position-x: right;
        margin-bottom: 5vmax;
        background-position: center;
    }
    .HomeProdctn_BgImg {
        background-image: url(/static/media/production.23a1f072.png);
        height: 15.5vmax;
        border-radius: 4vw;
        background-size: cover;
        background-position-x: right;
        margin-bottom: 6vmax;
    }
    .desgn_BgImgSmMd{
        background-image: url(/static/media/design.cf494167.png);
        height: 15.5vh;
        border-radius: 3vh;
        background-size: cover;
        background-position-x: right;
        margin-bottom: 8vmax;
        background-position: center;
    }
}
@media only screen and (min-device-width : 1366px) and (max-device-width : 1600px) {
    .headServicess{
        font-size: calc(10px + 1.8vw);
        font-family: aleta-bold;
        color: black;
        padding-bottom: 3.2vw;
    }
    .fotBgColr{
        background-color: #f7f7f7;
        padding-top: 5vw;
        padding-bottom: 5vw;
    }
    .fotBgColr:hover{
        background-color: #e0e0e0;
        padding-top: 5vw;
        padding-bottom: 5vw;
    }
    .consul_BgImgSmMd{
        background-position: left;
        background-image: url(/static/media/consultation.fc339c9a.png);
        height: 15.5vh;
        border-radius: 3vh;
        background-size: cover;
        background-position-x: initial;
        margin-bottom: 7vmax;
    }
    .servisPera {
        padding-left: 2.3vw;
        padding-top: 3.1vw;
        padding-right: 2.3vw;
        padding-bottom: 3.1vw;
        font-family: aleta-light;
        font-size: calc(1em + 0.1vmax);
        color: #adadad;
        letter-spacing: -0.03vmax;
        line-height: calc(1em + 0.4vw);
        margin-bottom: -2vw;
    }
    .HomeServisDevChild {
        color: #fafafa;
        background-color: #fafafa;
        border-radius: 1vw;
        box-shadow: 0px 2px 1.9vw rgba(0, 0 ,0 , 0.18);
    }
    .servis_hedng {
        padding-top: 3.1vw;
        padding-left: 3.1vw;
        padding-bottom: 5.8vw;
        font-size: 1.2vmax;
        font-family: aleta-bold;
        color: #ffffff;
    }
    .devlop_BgImgSmMd {
        background-image: url(/static/media/dev.49b8018f.png);
        height: 15.5vh;
        border-radius: 3vh;
        background-size: cover;
        background-position-x: right;
        margin-bottom: 5vmax;
        background-position: center;
    }
    .HomeProdctn_BgImg {
        background-image: url(/static/media/production.23a1f072.png);
        height: 15.5vmax;
        border-radius: 4vw;
        background-size: cover;
        background-position-x: right;
        margin-bottom: 6vmax;
    }
    .desgn_BgImgSmMd{
        background-image: url(/static/media/design.cf494167.png);
        height: 15.5vh;
        border-radius: 3vh;
        background-size: cover;
        background-position-x: right;
        margin-bottom: 8vmax;
        background-position: center;
    }
}
@media only screen and (min-device-width : 1600px) {
    .headServicess{
        font-size: calc(10px + 1.8vw);
        font-family: aleta-bold;
        color: black;
        padding-bottom: 3.2vw;
    }
    .fotBgColr{
        background-color: #f7f7f7;
        padding-top: 5vw;
        padding-bottom: 5vw;
    }
    .fotBgColr:hover{
        background-color: #e0e0e0;
        padding-top: 5vw;
        padding-bottom: 5vw;
    }
    .consul_BgImgSmMd{
        background-position: left;
        background-image: url(/static/media/consultation.fc339c9a.png);
        height: 15.5vh;
        border-radius: 3vh;
        background-size: cover;
        background-position-x: initial;
        margin-bottom: 7vmax;
    }
    .servisPera {
        padding-left: 2.3vw;
        padding-top: 3.1vw;
        padding-right: 2.3vw;
        padding-bottom: 3.1vw;
        font-family: aleta-light;
        font-size: calc(1em + 0.1vmax);
        color: #adadad;
        letter-spacing: -0.03vmax;
        line-height: calc(1em + 0.4vw);
        margin-bottom: -2vw;
    }
    .HomeServisDevChild {
        color: #fafafa;
        background-color: #fafafa;
        border-radius: 1vw;
        box-shadow: 0px 2px 1.9vw rgba(0, 0 ,0 , 0.18);
    }
    .servis_hedng {
        padding-top: 3.1vw;
        padding-left: 3.1vw;
        padding-bottom: 5.8vw;
        font-size: 1.2vmax;
        font-family: aleta-bold;
        color: #ffffff;
    }
    .devlop_BgImgSmMd {
        background-image: url(/static/media/dev.49b8018f.png);
        height: 15.5vh;
        border-radius: 3vh;
        background-size: cover;
        background-position-x: right;
        margin-bottom: 5vmax;
        background-position: center;
    }
    .HomeProdctn_BgImg {
        background-image: url(/static/media/production.23a1f072.png);
        height: 15.5vmax;
        border-radius: 4vw;
        background-size: cover;
        background-position-x: right;
        margin-bottom: 6vmax;
    }
    .desgn_BgImgSmMd{
        background-image: url(/static/media/design.cf494167.png);
        height: 15.5vh;
        border-radius: 3vh;
        background-size: cover;
        background-position-x: right;
        margin-bottom: 8vmax;
        background-position: center;
    }
}

.consultImage{
    background-image: url(../../Assets/Images/marketing-min.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 1vw;
    width: 27.8vw;
    height: 23.1vw;
    position: absolute;
}
.nonProfitImage{
    background-image: url('https://res.cloudinary.com/dxk0bmtei/image/upload/v1579872349/ngo_ynibp2.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 1vw;
    width: 20vw;
    height: 23.1vw;
    position: absolute;
}
.nonProfitImageTablet{
    background-image: url('https://res.cloudinary.com/dxk0bmtei/image/upload/v1579872349/ngo_ynibp2.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 1vw;
    width: 37vw;
    height: 32.1vw;
    position: absolute;
}
.nonProfitImageMobile{
    background-image: url('https://res.cloudinary.com/dxk0bmtei/image/upload/v1579872349/ngo_ynibp2.jpg');
    background-size: cover;
    background-position-y: center;
    border-radius: 3vw;
    width: 84vw;
    height: 23vh;
    position: absolute;
}
.consulHedng{
    padding-top: 3.1vw;
    padding-left: 3.1vw;
    font-size: 1.2vmax;
    color: white;
    font-family: aleta-bold;
}
.consultDev{
    box-shadow: 0px 2px 1.9vw rgba(0, 0 ,0 , 0.18);
    margin-left: 3.1vw;
    margin-top: 10vw;
    background-color: white;
    border-radius: 1vw;
    width: 27.8vw;
    position: relative;
    height: auto;
}

.consultPera{
    font-size: calc(1em + 0.1vmax);
    color: #adadad;
    padding-top: 3.1vw;
    padding-left: 3.1vw;
    padding-right: 3.1vw;
    padding-bottom: 3.1vw;
    font-family: aleta-light;
}
.develpImageStart{
    background-image: url(../../Assets/Images/startup.jpg);
    background-size: cover;
    background-position: bottom;
    border-radius: 1vw;
    width: 20vw;
    height: 23.1vw;
    position: absolute;
}
.develpImageStartSm{
    background-image: url(../../Assets/Images/startup.jpg);
    background-size: cover;
    background-position: bottom;
    border-radius: 1vw;
    width: 37vw;
    height: 32.1vw;
    position: absolute;
    margin-bottom: 4vw;
}
.develpImageStartMb {
    background-image: url(../../Assets/Images/startup.jpg);
    background-size: cover;
    background-position: bottom;
    border-radius: 3vw;
    width: 84vw;
    height: 19vh;
    position: absolute;
}
.develpImageMb {
    background-image: url(../../Assets/Images/dev-min.jpg);
    background-size: cover;
    background-position: bottom;
    border-radius: 3vw;
    width: 84vw;
    height: 19vh;
    position: absolute;
}
.develpImageSm{
    background-image: url(../../Assets/Images/dev-min.jpg);
    background-size: cover;
    background-position: bottom;
    border-radius: 1vw;
    width: 37vw;
    height: 32.1vw;
    position: absolute;
    margin-bottom: 4vw;
}
.develpImage{
    background-image: url(../../Assets/Images/dev-min.jpg);
    background-size: cover;
    background-position: bottom;
    border-radius: 1vw;
    width: 20vw;
    height: 23.1vw;
    position: absolute;
}
.designImageSm{
    background-image: url(../../Assets/Images/design.png);
    background-size: cover;
    background-position: center;
    border-radius: 1vw;
    width: 37vw;
    height: 32.1vw;
    position: absolute;
}
.designImageMb {
    background-image: url(/static/media/design.cf494167.png);
    background-size: cover;
    background-position: center;
    border-radius: 3vw;
    width: 84vw;
    height: 19vh;
    position: absolute;
}
.designImage{
    background-image: url(../../Assets/Images/design.png);
    background-size: cover;
    background-position: center;
    border-radius: 1vw;
    width: 20vw;
    height: 23.1vw;
    position: absolute;
}
.ServiceImageEnterpriseSm{
    background-image: url(../../Assets/Images/enterprises.jpg);
    /* background-size: cover; */
    background-position: bottom;
    border-radius: 1vw;
    width: 37vw;
    height: 32.1vw;
    position: absolute;
}
.ServiceImageEnterpriseMb{
    background-image: url(../../Assets/Images/enterprises.jpg);
    /* background-size: cover; */
    background-position: bottom;
    border-radius: 3vw;
    width: 84vw;
    height: 19vh;
    position: absolute;
}
.ServiceImageEnterprise{
    background-image: url(../../Assets/Images/enterprises.jpg);
    /* background-size: cover; */
    background-position: bottom;
    border-radius: 1vw;
    width: 20vw;
    height: 23.1vw;
    position: absolute;
}
.devlpHedng{
    padding-top: 3.1vw;
    padding-left: 3.1vw;
    font-size: 1.2vmax;
    color: white;
    font-family: aleta-bold;
}
.developmentDev{
    box-shadow: 0px 2px 1.9vw rgba(0, 0 ,0 , 0.18);
    position: relative;
    margin-left: 3.1vw;
    margin-top: 10vw;
    background-color: white;
    border-radius: 1vw;
    width: 19.8vw;
    margin-bottom: 4vw;
    height: auto;
}
.developmentPera{
    font-size: calc(1em + 0.7px);
    color: #adadad;
    padding-top: 3vw;
    padding-left: 3vw;
    padding-right: 2vw;
    padding-bottom: 2vw;
    font-family: aleta-light;
}
.developmentPeraSm{
    font-size: calc(1em + 0.1vmax);
    color: #adadad;
    padding-top: 3vw;
    padding-left: 3.1vw;
    padding-right: 3.1vw;
    padding-bottom: 3.1vw;
    font-family: aleta-light;
}

.designHedng{
    padding-top: 3.1vw;
    padding-left: 3.1vw;
    font-size: 1.2vmax;
    color: white;
    font-family: aleta-bold;
}
.designDev{
    box-shadow: 0px 2px 1.9vw rgba(0, 0 ,0 , 0.18);
    margin-left: 3.1vw;
    margin-top: 10vw;
    background-color: white;
    border-radius: 1vw;
    width: 19.8vw;
    position: relative;
    margin-bottom: 4vw;
    height: auto;
}
.blankDevchild{
    box-shadow: 0px 2px 1.9vw rgba(0, 0 ,0 , 0.18);
    margin-top: 10vw;
    background-color: white;
    border-radius: 1vw;
    width: 19.8vw;
    position: relative;
    margin-bottom: 4vw;
}
.designPera{
    font-size: calc(1em + 0.1vmax);
    color: #adadad;
    padding-top: 3.1vw;
    padding-left: 3.1vw;
    padding-right: 3.1vw;
    padding-bottom: 3.1vw;
    font-family: aleta-light;
}
/*  */
.consultImageSm{
    background-image: url(../../Assets/Images/marketing-min.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 1vw;
    width: 37vw;
    height: 32.1vw;
    position: absolute;
}
.consulHedngSm{
    padding-top: 3.1vw;
    padding-left: 3.1vw;
    font-size: 1.2vmax;
    color: white;
    font-family: aleta-bold;
}
.consultDevSm{
    box-shadow: 0px 2px 1.9vw rgba(0, 0 ,0 , 0.18);
    margin-left: 3.1vw;
    margin-top: 10vw;
    background-color: white;
    border-radius: 1vw;
    width: 38vw;
    height: 29vw;
    position: relative;
    margin-bottom: 4vw;
}
.consultPeraSm{
    font-size: calc(1em + 0.1vmax);
    color: #adadad;
    padding-top: 3.1vw;
    padding-left: 3.1vw;
    padding-right: 3.1vw;
    padding-bottom: 3.1vw;
    font-family: aleta-light;
}

.develpDevSm{
    box-shadow: 0px 2px 1.9vw rgba(0, 0 ,0 , 0.18);
    margin-left: 3.1vw;
    margin-top: 10vw;
    background-color: white;
    border-radius: 1vw;
    width: 38vw;
    /* height: 29vw; */
    position: relative;
}
.develpPera{
    font-size: calc(1em + 0.1vmax);
    color: #adadad;
    padding-top: 3vw;
    padding-left: 3.1vw;
    padding-right: 3.1vw;
    padding-bottom: 3.1vw;
    font-family: aleta-light;
}
.develpHedngSm{
    padding-top: 3.1vw;
    padding-left: 3.1vw;
    font-size: 1.2vmax;
    color: white;
    font-family: aleta-bold;
}

.designHedng{
    padding-top: 3.1vw;
    padding-left: 3.1vw;
    font-size: 1.2vmax;
    color: white;
    font-family: aleta-bold;
}
.designDevSm{
    box-shadow: 0px 2px 1.9vw rgba(0, 0 ,0 , 0.18);
    margin-left: 3.1vw;
    margin-top: 10vw;
    background-color: white;
    border-radius: 1vw;
    width: 38vw;
    height: 29vw;
    position: relative;
    margin-bottom: 4vw;
}
.consultImageMb {
    background-image: url(../../Assets/Images/marketing-min.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 3vw;
    width: 84vw;
    height: 23vh;
    position: absolute;
}
.consultDevMb{
    box-shadow: 0px 2px 3.3vmax rgba(0, 0 ,0 , 0.12);
    margin-left: 3.3vw;
    margin-top: 11vh;
    background-color: #fafafa;
    border-radius: 3vw;
    width: 77vw;
    position: relative;
    margin-bottom: 10vw;
}
.consultPeraMb {
    font-size: calc(12px + 0.3vw);
    color: #adadad;
    padding: 7.1vw;
    font-family: aleta-light;
}
.consulHedngMb {
    padding-top: 6.1vw;
    padding-left: 4.1vw;
    font-size: 2.6vmax;
    color: white;
    font-family: aleta-bold;
}

.develpDevMb {
    box-shadow: 0px 2px 3.3vmax rgba(0, 0 ,0 , 0.12);
    margin-left: 3.3vw;
    margin-top: 10vh;
    background-color: #fafafa;
    border-radius: 3vw;
    width: 77vw;
    position: relative;
    margin-bottom: 10vw;
}
.develpHedngMb {
    padding-top: 6.1vw;
    padding-left: 4.1vw;
    font-size: 2.6vmax;
    color: white;
    font-family: aleta-bold;
}

.productionImageMb {
    background-image: url(../../Assets/Images/production-min.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 3vw;
    width: 84vw;
    height: 19vh;
    position: absolute;
}
.develpPeraMb {
    font-size: calc(12px + 0.3vw);
    color: #adadad;
    padding: 7.1vw;
    font-family: aleta-light;
}
.blankDesign{
    background-color: #f7f7f7;
    border-radius: 1vw;
    width: 20vw;
    height: 23.1vw;
    position: absolute;
}
.blankDesign:hover{
    background-color: #e0e0e0;
    border-radius: 1vw;
    width: 20vw;
    height: 23.1vw;
    position: absolute;
}
.blankDesignSm{
    background-color: #f7f7f7;
    border-radius: 1vw;
    width: 81vw;
    height: 10vw;
    margin-bottom: 16vw;
}
.blankDesignSm:hover{
    background-color: #e0e0e0;
    border-radius: 1vw;
    width: 81vw;
    height: 10vw;
    margin-bottom: 16vw;
}
.blankDesignMb{
    background-color: #f7f7f7;
    border-radius: 1vw;
    width: 84vw;
    height: 23.1vw;
    margin-bottom: 4vw;
}
.blankDesignMb:hover{
    background-color: #e0e0e0;
    border-radius: 1vw;
    width: 84vw;
    height: 23.1vw;
    margin-bottom: 4vw;
}
.productionImageSm{
    background-image: url(../../Assets/Images/production-min.jpg);
    background-size: cover;
    background-position: bottom;
    border-radius: 1vw;
    width: 37vw;
    height: 32.1vw;
    position: absolute;
}
.productionImage{
    background-image: url(../../Assets/Images/production-min.jpg);
    background-size: contain;
    /* background-position: center; */
    border-radius: 1vw;
    width: 20vw;
    height: 23.1vw;
    position: absolute;
}
.blankperaimg1 {
    padding-left: 2.5vw;
    padding-bottom: 1.5vmax;
    font-family: aleta-bold;
    color: #303030;
    font-size: calc(0.8em + 0.5vw);
    padding-top: 19vw;
}
.blankperaimgMd1 {
    padding-left: 2.5vw;
    padding-bottom: 1.5vmax;
    font-family: aleta-bold;
    color: #303030;
    font-size: calc(0.8em + 0.5vw);
    padding-top: 3.5vw;
}
.blankperaimgMb1 {
    padding-left: 8.5vw;
    padding-bottom: 1.5vmax;
    font-family: aleta-bold;
    color: #303030;
    font-size: calc(0.8em + 0.5vw);
    padding-top: 9vw;
}


@media only screen and (min-device-width : 300px) and (max-device-width : 767px) {
    .ArrowHomeSErvice{
        padding-left: 3.5vw;
        padding-bottom: 2.5vmax;
        font-family: aleta-bold;
        color: #303030;
        font-size: calc(0.8em + 0.2vw);
        cursor: pointer;
    }
    .ArrowHomeSErviceDev{
        padding-left: 3.5vw;
        padding-bottom: 2.5vmax;
        font-family: aleta-bold;
        color: #303030;
        font-size: calc(0.8em + 0.2vw);
        cursor: pointer;
    }
    .startupDev{
        box-shadow: 0px 2px 3.3vmax rgba(0, 0 ,0 , 0.12);
        margin-left: 3.3vw;
        margin-top: 11vh;
        background-color: #fafafa;
        border-radius: 3vw;
        width: 77vw;
        position: relative;
        margin-bottom: 10vw;
    }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1023px) {
    .ArrowHomeSErvice{
        padding-left: 3.5vw;
        padding-top: 1.8vw;
        padding-bottom: 1.5vmax;
        font-family: aleta-bold;
        color: #303030;
        font-size: calc(0.8em + 0.2vw);
        cursor: pointer;
    }
    .ArrowHomeSErviceDev{
        padding-left: 3.5vw;
        /* padding-top: 3.8vw; */
        padding-bottom: 1.5vmax;
        font-family: aleta-bold;
        color: #303030;
        font-size: calc(0.8em + 0.2vw);
        cursor: pointer;
    }
    .startupDev{
        box-shadow: 0px 2px 1.9vw rgba(0, 0 ,0 , 0.18);
        margin-left: 3.1vw;
        margin-top: 10vw;
        background-color: white;
        border-radius: 1vw;
        width: 38vw;
        height: 29vw;
        position: relative;
        margin-bottom: 4vw;
    }
}
@media only screen and (min-device-width : 1024px) and (max-device-width : 1365px) {
    .ArrowHomeSErvice{
        padding-left: 3.5vw;
        padding-top: 4.9vw;
        padding-bottom: 1.5vmax;
        font-family: aleta-bold;
        color: #303030;
        font-size: calc(0.8em + 0.2vw);
        cursor: pointer;
    }
    .ArrowHomeSErviceDev{
        padding-left: 3.5vw;
        /* padding-top: 4.9vw; */
        padding-bottom: 1.5vmax;
        font-family: aleta-bold;
        color: #303030;
        font-size: calc(0.8em + 0.2vw);
        cursor: pointer;
    }
    .startupDev{
        box-shadow: 0px 2px 1.9vw rgba(0, 0 ,0 , 0.18);
        position: relative;
        margin-left: 3.1vw;
        margin-top: 10vw;
        background-color: white;
        border-radius: 1vw;
        width: 19.8vw;
        margin-bottom: 4vw;
        height: 42vh;
    }
}
@media only screen and (min-device-width : 1366px) and (max-device-width : 1600px) {
    .ArrowHomeSErvice{
        padding-left: 3.5vw;
        padding-top: 3.8vw;
        padding-bottom: 1.5vmax;
        font-family: aleta-bold;
        color: #303030;
        font-size: calc(0.8em + 0.2vw);
        cursor: pointer;
    }
    .ArrowHomeSErviceDev{
        padding-left: 3.5vw;
        padding-top: 0.2vw;
        padding-bottom: 1.5vmax;
        font-family: aleta-bold;
        color: #303030;
        font-size: calc(0.8em + 0.2vw);
        cursor: pointer;
    }
    .startupDev{
        box-shadow: 0px 2px 1.9vw rgba(0, 0 ,0 , 0.18);
        position: relative;
        margin-left: 3.1vw;
        margin-top: 10vw;
        background-color: white;
        border-radius: 1vw;
        width: 19.8vw;
        margin-bottom: 4vw;
        height: 48vh;
    }
}
@media only screen and (min-device-width : 1600px){
    .ArrowHomeSErvice{
        padding-left: 3.5vw;
        padding-top: 3.8vw;
        padding-bottom: 1.5vmax;
        font-family: aleta-bold;
        color: #303030;
        font-size: calc(0.8em + 0.2vw);
        cursor: pointer;
    }
    .ArrowHomeSErviceDev{
        padding-left: 3.5vw;
        padding-top: 4.1vw;
        padding-bottom: 1.5vmax;
        font-family: aleta-bold;
        color: #303030;
        font-size: calc(0.8em + 0.2vw);
        cursor: pointer;
    }
    .startupDev{
        box-shadow: 0px 2px 1.9vw rgba(0, 0 ,0 , 0.18);
        position: relative;
        margin-left: 3.1vw;
        margin-top: 10vw;
        background-color: white;
        border-radius: 1vw;
        width: 19.8vw;
        margin-bottom: 4vw;
        height: 25vh;
    }
}

