.seeBckgrndColr{
    background-color: white;
}
.see_Txt{
    color: black;
    font-size: calc(10px + 0.5vw);
    font-family: montserrat-extrabold;
    margin-top: 10vw;
}
.see_txt1{
    color: black;
    font-size: calc(1vw + 3vw);
    font-family: montserrat-extrabold;
    margin-bottom: 10vw;
}
.arrowRight{
    margin-top: calc(4rem + 9.5vw);
    width: 10vw;
}

.servisDevChild {
    color: #fafafa;
    background-color: #fafafa;
    border-radius: 1vw;
    margin-left: 3.1vw;
    box-shadow: 0px 2px 1.9vw rgba(0, 0 ,0 , 0.18);
}
.HomeServisDevChild {
    color: #fafafa;
    background-color: #fafafa;
    border-radius: 1vw;
    box-shadow: 0px 2px 1.9vw rgba(0, 0 ,0 , 0.18);
}
.servisDevChildSmMd {
    color: #fafafa;
    background-color: #fafafa;
    border-radius: 1vw;
    box-shadow: 0px 2px 1.9vw rgba(0, 0 ,0 , 0.18);
}

.consul_BgImg {
    background-image: url(../../Assets/Images/consultation.png);
    height: 23.5vmax;
    border-radius: 1vw;
    background-size: cover;
    background-position-x: right;
    margin-bottom: 12vmax;
}
.devlop_BgImg {
    background-image: url(../../Assets/Images/dev.png);
    height: 23.5vmax;
    border-radius: 1vw;
    background-size: cover;
    background-position-x: right;
    margin-bottom: 12vmax;
}
.desgn_BgImg {
    background-image: url(../../Assets/Images/design.png);
    height: 23.5vmax;
    border-radius: 1vw;
    background-size: cover;
    background-position-x: right;
    margin-bottom: 12vmax;
}
.prodctn_BgImg {
    background-image: url(../../Assets/Images/production.png);
    height: 23.5vmax;
    border-radius: 1vw;
    background-size: cover;
    background-position-x: right;
    margin-bottom: 12vmax;
}

.prodctn_BgImgSmMd {
    background-image: url(../../Assets/Images/production.png);
    height: 15.5vmax;
    border-radius: 5vw;
    background-size: cover;
    background-position-x: right;
    margin-bottom: 6vmax;
}
.bgColr{
    background-color: #f7f7f7;
    margin-bottom: 13vw;
}

.blnkColr{
    background-color: #f7f7f7;
    height: 28vmax;
    border-radius: 1vw;
    margin-bottom: 12vmax;
}



@media only screen and (min-device-width : 300px) and (max-device-width : 767px) {
    .fotBgColr{
        background-color: #f7f7f7;
        padding-top: 9.4vw;
        padding-bottom: 8.4vw;
    }
    .consul_BgImgSmMd{
        background-position: left;
        background-image: url(/static/media/consultation.fc339c9a.png);
        height: 24.5vh;
        border-radius: 2vh;
        background-size: cover;
        background-position-x: initial;
        margin-bottom: 21vmax;
        margin-left: 4vw;
        width: 72vw;
    }
    .servisPera {
        padding-left: 4.3vw;
        padding-top: 3.1vw;
        padding-right: 4.3vw;
        padding-bottom: 5.1vw;
        font-size: calc(12px + 0.3vw);
        font-family: montserrat-light;
        color: #adadad;
        letter-spacing: -0.01vmax;
        line-height: calc(14px + 1.5vw);
        margin-bottom: -2vw;
        text-align: left;
    }
    .HomeServisDevChild {
        color: #fafafa;
        background-color: #fafafa;
        border-radius: 1vw;
        box-shadow: 0px 2px 3.3vmax rgba(0, 0 ,0 , 0.12);
        padding: 3.5vw;
        padding-bottom: 3vw;
        border-radius: 3vw;
        text-align: justify;
    }
    .servis_hedng {
        padding-top: 6.1vw;
        padding-left: 3.1vw;
        padding-bottom: 3.8vw;
        font-size: 6vw;
        font-family: montserrat-extrabold;
        color: #ffffff;
    }
    .devlop_BgImgSmMd {
        background-image: url(/static/media/dev.49b8018f.png);
        background-position: left;
        height: 24.5vh;
        border-radius: 2vh;
        background-size: cover;
        background-position-x: initial;
        margin-bottom: 21vmax;
        margin-left: 4vw;
        margin-top: -5vw;
        width: 97vw !important;
    }
    .HomeProdctn_BgImg {
        background-image: url(/static/media/production.23a1f072.png);
        background-position: left;
        height: 24.5vh;
        border-radius: 2vh;
        background-size: cover;
        background-position-x: initial;
        margin-bottom: 21vmax;
        margin-left: 4vw;
        margin-top: -19vw;
        width: 97vw !important;
    }
    .desgn_BgImgSmMd{
        background-image: url(/static/media/design.cf494167.png);
        background-position: left;
        height: 24.5vh;
        border-radius: 2vh;
        background-size: cover;
        background-position-x: initial;
        margin-bottom: 21vmax;
        margin-left: 4vw;
        margin-top: -19vw;
        width: 72vw !important;
    }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1023px) {
    
    .fotBgColr{
        background-color: #f7f7f7;
        padding-top: 6.4vw;
        padding-bottom: 6.4vw;
    }
    .consul_BgImgSmMd{
        background-position: left;
        background-image: url(/static/media/consultation.fc339c9a.png);
        height: 15.5vh;
        border-radius: 3vh;
        background-size: cover;
        background-position-x: initial;
        margin-bottom: 7vmax;
    }
    .servisPera {
        padding-left: 2.3vw;
        padding-top: 3.1vw;
        padding-right: 2.3vw;
        padding-bottom: 3.1vw;
        font-family: montserrat-light;
        font-size: calc(1em + 0.1vmax);
        color: #adadad;
        letter-spacing: -0.03vmax;
        line-height: calc(1em + 0.4vw);
        margin-bottom: -2vw;
    }
    .HomeServisDevChild {
        color: #fafafa;
        background-color: #fafafa;
        border-radius: 1vw;
        box-shadow: 0px 2px 1.9vw rgba(0, 0 ,0 , 0.18);
    }
    .servis_hedng {
        padding-top: 3.1vw;
        padding-left: 3.1vw;
        padding-bottom: 5.8vw;
        font-size: 1.2vmax;
        font-family: montserrat-extrabold;
        color: #ffffff;
    }
    .devlop_BgImgSmMd {
        background-image: url(/static/media/dev.49b8018f.png);
        height: 15.5vh;
        border-radius: 3vh;
        background-size: cover;
        background-position-x: right;
        margin-bottom: 5vmax;
        background-position: center;
    }
    .HomeProdctn_BgImg {
        background-image: url(/static/media/production.23a1f072.png);
        height: 15.5vmax;
        border-radius: 4vw;
        background-size: cover;
        background-position-x: right;
        margin-bottom: 6vmax;
    }
    .desgn_BgImgSmMd{
        background-image: url(/static/media/design.cf494167.png);
        height: 15.5vh;
        border-radius: 3vh;
        background-size: cover;
        background-position-x: right;
        margin-bottom: 8vmax;
        background-position: center;
    }
}
@media only screen and (min-device-width : 1024px) and (max-device-width : 1365px) {
    .fotBgColr{
        background-color: #f7f7f7;
        padding-top: 5vw;
        padding-bottom: 5vw;
    }
    .consul_BgImgSmMd{
        background-position: left;
        background-image: url(/static/media/consultation.fc339c9a.png);
        height: 15.5vh;
        border-radius: 3vh;
        background-size: cover;
        background-position-x: initial;
        margin-bottom: 7vmax;
    }
    .servisPera {
        padding-left: 2.3vw;
        padding-top: 3.1vw;
        padding-right: 2.3vw;
        padding-bottom: 3.1vw;
        font-family: montserrat-light;
        font-size: calc(1em + 0.1vmax);
        color: #adadad;
        letter-spacing: -0.03vmax;
        line-height: calc(1em + 0.4vw);
        margin-bottom: -2vw;
    }
    .HomeServisDevChild {
        color: #fafafa;
        background-color: #fafafa;
        border-radius: 1vw;
        box-shadow: 0px 2px 1.9vw rgba(0, 0 ,0 , 0.18);
    }
    .servis_hedng {
        padding-top: 3.1vw;
        padding-left: 3.1vw;
        padding-bottom: 5.8vw;
        font-size: 1.2vmax;
        font-family: montserrat-extrabold;
        color: #ffffff;
    }
    .devlop_BgImgSmMd {
        background-image: url(/static/media/dev.49b8018f.png);
        height: 15.5vh;
        border-radius: 3vh;
        background-size: cover;
        background-position-x: right;
        margin-bottom: 5vmax;
        background-position: center;
    }
    .HomeProdctn_BgImg {
        background-image: url(/static/media/production.23a1f072.png);
        height: 15.5vmax;
        border-radius: 4vw;
        background-size: cover;
        background-position-x: right;
        margin-bottom: 6vmax;
    }
    .desgn_BgImgSmMd{
        background-image: url(/static/media/design.cf494167.png);
        height: 15.5vh;
        border-radius: 3vh;
        background-size: cover;
        background-position-x: right;
        margin-bottom: 8vmax;
        background-position: center;
    }
}
@media only screen and (min-device-width : 1366px) and (max-device-width : 1600px) {
    .fotBgColr{
        background-color: #f7f7f7;
        padding-top: 5vw;
        padding-bottom: 5vw;
    }
    .consul_BgImgSmMd{
        background-position: left;
        background-image: url(/static/media/consultation.fc339c9a.png);
        height: 15.5vh;
        border-radius: 3vh;
        background-size: cover;
        background-position-x: initial;
        margin-bottom: 7vmax;
    }
    .servisPera {
        padding-left: 2.3vw;
        padding-top: 3.1vw;
        padding-right: 2.3vw;
        padding-bottom: 3.1vw;
        font-family: montserrat-light;
        font-size: calc(1em + 0.1vmax);
        color: #adadad;
        letter-spacing: -0.03vmax;
        line-height: calc(1em + 0.4vw);
        margin-bottom: -2vw;
    }
    .HomeServisDevChild {
        color: #fafafa;
        background-color: #fafafa;
        border-radius: 1vw;
        box-shadow: 0px 2px 1.9vw rgba(0, 0 ,0 , 0.18);
    }
    .servis_hedng {
        padding-top: 3.1vw;
        padding-left: 3.1vw;
        padding-bottom: 5.8vw;
        font-size: 1.2vmax;
        font-family: montserrat-extrabold;
        color: #ffffff;
    }
    .devlop_BgImgSmMd {
        background-image: url(/static/media/dev.49b8018f.png);
        height: 15.5vh;
        border-radius: 3vh;
        background-size: cover;
        background-position-x: right;
        margin-bottom: 5vmax;
        background-position: center;
    }
    .HomeProdctn_BgImg {
        background-image: url(/static/media/production.23a1f072.png);
        height: 15.5vmax;
        border-radius: 4vw;
        background-size: cover;
        background-position-x: right;
        margin-bottom: 6vmax;
    }
    .desgn_BgImgSmMd{
        background-image: url(/static/media/design.cf494167.png);
        height: 15.5vh;
        border-radius: 3vh;
        background-size: cover;
        background-position-x: right;
        margin-bottom: 8vmax;
        background-position: center;
    }
}
@media only screen and (min-device-width : 1600px) {
    .fotBgColr{
        background-color: #f7f7f7;
        padding-top: 5vw;
        padding-bottom: 5vw;
    }
    .consul_BgImgSmMd{
        background-position: left;
        background-image: url(/static/media/consultation.fc339c9a.png);
        height: 15.5vh;
        border-radius: 3vh;
        background-size: cover;
        background-position-x: initial;
        margin-bottom: 7vmax;
    }
    .servisPera {
        padding-left: 2.3vw;
        padding-top: 3.1vw;
        padding-right: 2.3vw;
        padding-bottom: 3.1vw;
        font-family: montserrat-light;
        font-size: calc(1em + 0.1vmax);
        color: #adadad;
        letter-spacing: -0.03vmax;
        line-height: calc(1em + 0.4vw);
        margin-bottom: -2vw;
    }
    .HomeServisDevChild {
        color: #fafafa;
        background-color: #fafafa;
        border-radius: 1vw;
        box-shadow: 0px 2px 1.9vw rgba(0, 0 ,0 , 0.18);
    }
    .servis_hedng {
        padding-top: 3.1vw;
        padding-left: 3.1vw;
        padding-bottom: 5.8vw;
        font-size: 1.2vmax;
        font-family: montserrat-extrabold;
        color: #ffffff;
    }
    .devlop_BgImgSmMd {
        background-image: url(/static/media/dev.49b8018f.png);
        height: 15.5vh;
        border-radius: 3vh;
        background-size: cover;
        background-position-x: right;
        margin-bottom: 5vmax;
        background-position: center;
    }
    .HomeProdctn_BgImg {
        background-image: url(/static/media/production.23a1f072.png);
        height: 15.5vmax;
        border-radius: 4vw;
        background-size: cover;
        background-position-x: right;
        margin-bottom: 6vmax;
    }
    .desgn_BgImgSmMd{
        background-image: url(/static/media/design.cf494167.png);
        height: 15.5vh;
        border-radius: 3vh;
        background-size: cover;
        background-position-x: right;
        margin-bottom: 8vmax;
        background-position: center;
    }
}

/* newdesign checking */
.consultImage{
    background-image: url(../../Assets/Images/consultation.png);
    background-size: cover;
    background-position: center;
    border-radius: 1vw;
    width: 27.8vw;
    height: 23.1vw;
    position: absolute;
}
.consulHedng{
    padding-top: 3.1vw;
    padding-left: 3.1vw;
    font-size: calc(1em + 0.1vmax);
    color: white;
    font-family: montserrat-extrabold;
}
.consultDev{
    box-shadow: 0px 2px 1.9vw rgba(0, 0 ,0 , 0.18);
    margin-left: 3.1vw;
    margin-top: 10vw;
    background-color: white;
    border-radius: 1vw;
    width: 27.8vw;
    position: relative;
}
.consultPera{
    font-size: calc(1em + 0.1vmax);
    color: #adadad;
    padding-top: 3.1vw;
    padding-left: 3.1vw;
    padding-right: 3.1vw;
    padding-bottom: 3.1vw;
    font-family: montserrat-light;
}
.develpImage{
    background-image: url(../../Assets/Images/dev.png);
    background-size: cover;
    background-position: center;
    border-radius: 1vw;
    width: 20vw;
    height: 23.1vw;
    position: absolute;
}
.devlpHedng{
    padding-top: 3.1vw;
    padding-left: 3.1vw;
    font-size: 1.2vmax;
    color: white;
    font-family: montserrat-extrabold;
}
.developmentDev{
    box-shadow: 0px 2px 1.9vw rgba(0, 0 ,0 , 0.18);
    position: relative;
    margin-left: 3.1vw;
    margin-top: 10vw;
    background-color: white;
    border-radius: 1vw;
    width: 19.8vw;
    margin-bottom: 4vw;
}
.developmentPera{
    font-size: calc(1em + 0.1vmax);
    color: #adadad;
    padding-top: 3.1vw;
    padding-left: 3.1vw;
    padding-right: 3.1vw;
    padding-bottom: 3.1vw;
    font-family: montserrat-light;
}
.developmentPeraSm{
    font-size: calc(1em + 0.1vmax);
    color: #adadad;
    padding-top: 8vw;
    padding-left: 3.1vw;
    padding-right: 3.1vw;
    padding-bottom: 3.1vw;
    font-family: montserrat-light;
}
.designImage{
    background-image: url(../../Assets/Images/design.png);
    background-size: cover;
    background-position: center;
    border-radius: 1vw;
    width: 20vw;
    height: 23.1vw;
    position: absolute;
}
.designHedng{
    padding-top: 3.1vw;
    padding-left: 3.1vw;
    font-size: 1.2vmax;
    color: white;
    font-family: montserrat-extrabold;
}
.designDev{
    box-shadow: 0px 2px 1.9vw rgba(0, 0 ,0 , 0.18);
    margin-left: 3.1vw;
    margin-top: 10vw;
    background-color: white;
    border-radius: 1vw;
    width: 19.8vw;
    position: relative;
    margin-bottom: 4vw;
}
.designPera{
    font-size: calc(1em + 0.1vmax);
    color: #adadad;
    padding-top: 3.1vw;
    padding-left: 3.1vw;
    padding-right: 3.1vw;
    padding-bottom: 3.1vw;
    font-family: montserrat-light;
}
/*  */
.consultImageSm{
    background-image: url(/static/media/consultation.fc339c9a.png);
    background-size: cover;
    background-position: center;
    border-radius: 1vw;
    width: 37vw;
    height: 32.1vw;
    position: absolute;
}
.consulHedngSm{
    padding-top: 3.1vw;
    padding-left: 3.1vw;
    font-size: 1.2vmax;
    color: white;
    font-family: montserrat-extrabold;
}
.consultDevSm{
    box-shadow: 0px 2px 1.9vw rgba(0, 0 ,0 , 0.18);
    margin-left: 3.1vw;
    margin-top: 10vw;
    background-color: white;
    border-radius: 1vw;
    width: 38vw;
    height: 29vw;
    position: relative;
    margin-bottom: 4vw;
}
.consultPeraSm{
    font-size: calc(1em + 0.1vmax);
    color: #adadad;
    padding-top: 3.1vw;
    padding-left: 3.1vw;
    padding-right: 3.1vw;
    padding-bottom: 3.1vw;
    font-family: montserrat-light;
}
.develpImageSm{
    background-image: url(../../Assets/Images/dev.png);
    background-size: cover;
    background-position: center;
    border-radius: 1vw;
    width: 37vw;
    height: 32.1vw;
    position: absolute;
    margin-bottom: 4vw;
}
.develpDevSm{
    box-shadow: 0px 2px 1.9vw rgba(0, 0 ,0 , 0.18);
    margin-left: 3.1vw;
    margin-top: 10vw;
    background-color: white;
    border-radius: 1vw;
    width: 38vw;
    height: 29vw;
    position: relative;
}
.develpPera{
    font-size: calc(1em + 0.1vmax);
    color: #adadad;
    padding-top: 8vw;
    padding-left: 3.1vw;
    padding-right: 3.1vw;
    padding-bottom: 3.1vw;
    font-family: montserrat-light;
}
.develpHedngSm{
    padding-top: 3.1vw;
    padding-left: 3.1vw;
    font-size: 1.2vmax;
    color: white;
    font-family: montserrat-extrabold;
}
.designImageSm{
    background-image: url(../../Assets/Images/design.png);
    background-size: cover;
    background-position: center;
    border-radius: 1vw;
    width: 37vw;
    height: 32.1vw;
    position: absolute;
}
.designHedng{
    padding-top: 3.1vw;
    padding-left: 3.1vw;
    font-size: 1.2vmax;
    color: white;
    font-family: montserrat-extrabold;
}
.designDevSm{
    box-shadow: 0px 2px 1.9vw rgba(0, 0 ,0 , 0.18);
    margin-left: 3.1vw;
    margin-top: 10vw;
    background-color: white;
    border-radius: 1vw;
    width: 38vw;
    height: 29vw;
    position: relative;
    margin-bottom: 4vw;
}
.consultImageMb {
    background-image: url(/static/media/consultation.fc339c9a.png);
    background-size: cover;
    background-position: center;
    border-radius: 3vw;
    width: 84vw;
    height: 23vh;
    position: absolute;
}
.consultDevMb{
    box-shadow: 0px 2px 3.3vmax rgba(0, 0 ,0 , 0.12);
    margin-left: 3.3vw;
    margin-top: 9vh;
    background-color: #fafafa;
    border-radius: 3vw;
    width: 77vw;
    position: relative;
    margin-bottom: 10vw;
}
.consultPeraMb {
    font-size: calc(12px + 0.3vw);
    color: #adadad;
    padding: 7.1vw;
    font-family: montserrat-light;
}
.consulHedngMb {
    padding-top: 6.1vw;
    padding-left: 4.1vw;
    font-size: 6vw;
    color: white;
    font-family: montserrat-extrabold;
}
.develpImageMb {
    background-image: url(/static/media/dev.49b8018f.png);
    background-size: cover;
    background-position: center;
    border-radius: 3vw;
    width: 84vw;
    height: 19vh;
    position: absolute;
}
.develpDevMb {
    box-shadow: 0px 2px 3.3vmax rgba(0, 0 ,0 , 0.12);
    margin-left: 3.3vw;
    margin-top: 8.9vh;
    background-color: #fafafa;
    border-radius: 3vw;
    width: 77vw;
    position: relative;
    margin-bottom: 10vw;
}
.develpHedngMb {
    padding-top: 6.1vw;
    padding-left: 4.1vw;
    font-size: 6vw;
    color: white;
    font-family: montserrat-extrabold;
}
.designImageMb {
    background-image: url(/static/media/design.cf494167.png);
    background-size: cover;
    background-position: center;
    border-radius: 3vw;
    width: 84vw;
    height: 19vh;
    position: absolute;
}
.productionImageMb {
    background-image: url(../../Assets/Images/production.png);
    background-size: cover;
    background-position: center;
    border-radius: 3vw;
    width: 84vw;
    height: 19vh;
    position: absolute;
}
.develpPeraMb {
    font-size: calc(12px + 0.3vw);
    color: #adadad;
    padding: 7.1vw;
    font-family: montserrat-light;
}
.blankDesign{
    background-color: #f7f7f7;
    border-radius: 1vw;
    width: 20vw;
    height: 23.1vw;
    position: absolute;
}
.blankDesignSm{
    background-color: #f7f7f7;
    border-radius: 1vw;
    width: 81vw;
    height: 23.1vw;
    margin-bottom: 4vw;
}
.blankDesignMb{
    background-color: #f7f7f7;
    border-radius: 1vw;
    width: 84vw;
    height: 23.1vw;
    margin-bottom: 4vw;
}
.productionImageSm{
    background-image: url(../../Assets/Images/production.png);
    background-size: cover;
    background-position: center;
    border-radius: 1vw;
    width: 37vw;
    height: 32.1vw;
    position: absolute;
}
.productionImage{
    background-image: url(../../Assets/Images/production.png);
    background-size: cover;
    background-position: center;
    border-radius: 1vw;
    width: 20vw;
    height: 23.1vw;
    position: absolute;
}