.bck-to-pro{
    /* border: none !important;
    background: -webkit-linear-gradient( 360deg,#0ac3d0 , #953797 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: calc(13px + 0.5vmax);
    font-family: aleta-light;
    cursor: pointer;
    text-decoration: underline;
    background: none;
    color: #d4d4d4;
    margin-top: 13vmax; */
    border: none !important;
    font-size: calc(13px + 0.5vmax);
    font-family: aleta-light;
    cursor: pointer;
    text-decoration: none;
    background: none;
    color: #b7abab;
    margin-top: 13vmax;
    margin-left: 10px;
}
.arowBackImg{
    -webkit-transform: translateX(100%) rotate(180deg); /* Safari */
    -moz-transform: translateX(100%) rotate(180deg); /* Firefox 3.6 Firefox 4 */
    -ms-transform: translateX(100%) rotate(180deg); /* IE9 */
    -o-transform: translateX(100%) rotate(180deg); /* Opera */
    transform: translateX(100%) rotate(180deg); /* W3C */  
    -webkit-transform-origin: left bottom;
    -moz-transform-origin: left bottom;
    -ms-transform-origin: left bottom;
    -o-transform-origin: left bottom;
    transform-origin: left bottom;
    margin-top: -85px;
    height: 40px;
}
.backArowProjectDetail{
    
}
.panelHeading{
    margin-top: 11vw;
    font-size: calc(15px + 2.5vmax);
    font-family: aleta-bold;
    color: black;
}
.panelPera{
    margin-top: 12vw;
    font-size: calc(12px + 0.3vw);
    font-family: aleta-light;
    color: #adadad;
    line-height: 2.2vw;
}
.panelPeraMob{
    margin-top: 12vw;
    font-size: calc(12px + 0.3vw);
    font-family: aleta-light;
    color: #adadad;
    letter-spacing: -0.05vmax;
    line-height: 6vw;
    margin-bottom: 6vw;
}
