.Ocv{
    
    margin-top: calc(150px + 3vw);
}
.Ocv1{
    text-align: right;
}


@media only screen and (min-device-width : 300px) and (max-device-width : 767px) {
    .onColor{
        color: #adadad;
        margin-top: -0.3vw;
        font-family: aleta-light;
    }
    .empathize{
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-image: url(../../../Assets/Images/coreValue/empathize-01.jpg);
        background-size: cover;
        background-position-x: center;
        background-color: #f2f2f2;
        height: 20.5vw;
        box-shadow: 0px 2px 1vw rgba(0, 0 ,0 , 0.18);
        height: 40.5vw;
        margin-left: -4.5vw;
        width: 83.5vw;
        border-radius: 3vw;
    }
    .helpGood{
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-image: url(../../../Assets/Images/coreValue/help-the-good-01.jpg);
        background-size: cover;
        background-position-x: center;
        background-color: #f2f2f2;
        height: 20.5vw;
        box-shadow: 0px 2px 1vw rgba(0, 0 ,0 , 0.18);
        height: 40.5vw;
        margin-left: -4.5vw;
        width: 83.5vw;
        border-radius: 3vw;
    }
    .listenCarefull{
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-image: url(../../../Assets/Images/coreValue/listen-carefully-01.jpg);
        background-size: cover;
        background-position-x: center;
        background-color: #f2f2f2;
        height: 20.5vw;
        box-shadow: 0px 2px 1vw rgba(0, 0 ,0 , 0.18);
        height: 40.5vw;
        margin-left: -4.5vw;
        width: 83.5vw;
        border-radius: 3vw;
    }
    .beHonest{
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-image: url(../../../Assets/Images/coreValue/be-honest-01.jpg);
        background-size: cover;
        background-position-x: center;
        background-color: #f2f2f2;
        height: 20.5vw;
        box-shadow: 0px 2px 1vw rgba(0, 0 ,0 , 0.18);
        height: 40.5vw;
        margin-left: -4.5vw;
        width: 83.5vw;
        border-radius: 3vw;
    }
    .beCreative{
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-image: url(../../../Assets/Images/coreValue/be-creative-01.jpg);
        background-size: cover;
        background-position-x: center;
        background-color: #f2f2f2;
        height: 20.5vw;
        box-shadow: 0px 2px 1vw rgba(0, 0 ,0 , 0.18);
        height: 40.5vw;
        margin-left: -4.5vw;
        width: 83.5vw;
        border-radius: 3vw;
    }
    .beArtistic{
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-image: url(../../../Assets/Images/coreValue/be-artistic-01.jpg);
        background-size: cover;
        background-position-x: center;
        background-color: #f2f2f2;
        height: 20.5vw;
        box-shadow: 0px 2px 1vw rgba(0, 0 ,0 , 0.18);
        height: 40.5vw;
        margin-left: -4.5vw;
        width: 83.5vw;
        border-radius: 3vw;
    }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1023px) {
    .onColor{
        color: #adadad;
        margin-top: -1.8vw;
        font-family: aleta-light;
    }
    .empathize{
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-image: url(../../../Assets/Images/coreValue/empathize-01.jpg);
        background-size: cover;
        background-position-x: center;
        background-color: #f2f2f2;
        height: 24.5vw;
        box-shadow: 0px 2px 1vw rgba(0, 0 ,0 , 0.18);
        border-radius: 2vw;
        margin-top: 1.5vw;
    }
    .helpGood{
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-image: url(../../../Assets/Images/coreValue/help-the-good-01.jpg);
        background-size: cover;
        background-position-x: center;
        background-color: #f2f2f2;
        height: 24.5vw;
        box-shadow: 0px 2px 1vw rgba(0, 0 ,0 , 0.18);
        border-radius: 2vw;
        margin-top: 1.5vw;
    }
    .listenCarefull{
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-image: url(../../../Assets/Images/coreValue/listen-carefully-01.jpg);
        background-size: cover;
        background-position-x: center;
        background-color: #f2f2f2;
        height: 24.5vw;
        box-shadow: 0px 2px 1vw rgba(0, 0 ,0 , 0.18);
        border-radius: 2vw;
        margin-top: 1.5vw;
    }
    .beHonest{
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-image: url(../../../Assets/Images/coreValue/be-honest-01.jpg);
        background-size: cover;
        background-position-x: center;
        background-color: #f2f2f2;
        height: 24.5vw;
        box-shadow: 0px 2px 1vw rgba(0, 0 ,0 , 0.18);
        border-radius: 2vw;
        margin-top: 1.5vw;
    }
    .beCreative{
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-image: url(../../../Assets/Images/coreValue/be-creative-01.jpg);
        background-size: cover;
        background-position-x: center;
        background-color: #f2f2f2;
        height: 24.5vw;
        box-shadow: 0px 2px 1vw rgba(0, 0 ,0 , 0.18);
        border-radius: 2vw;
        margin-top: 1.5vw;
    }
    .beArtistic{
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-image: url(../../../Assets/Images/coreValue/be-artistic-01.jpg);
        background-size: cover;
        background-position-x: center;
        background-color: #f2f2f2;
        height: 24.5vw;
        box-shadow: 0px 2px 1vw rgba(0, 0 ,0 , 0.18);
        border-radius: 2vw;
        margin-top: 1.5vw;
    }
    .Ocv2{
        font-size: calc(12px + 1.9vw);
        font-family: aleta-bold;
        color: white;
    }
}
@media only screen and (min-device-width : 1024px) and (max-device-width : 1365px) {
    .onColor{
        color: #adadad;
        margin-top: -0.4vw;
        font-size: calc(12px + 0.4vw);
        font-family: aleta-light;
    }
    .empathize{
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-image: url(../../../Assets/Images/coreValue/empathize-01.jpg);
        background-size: cover;
        background-position-x: center;
        background-color: #f2f2f2;
        height: 21.5vw;
        box-shadow: 0px 2px 1vw rgba(0, 0 ,0 , 0.18);
        border-radius: 2vw;
        margin-top: 1.5vw;
    }
    .helpGood{
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-image: url(../../../Assets/Images/coreValue/help-the-good-01.jpg);
        background-size: cover;
        background-position-x: center;
        background-color: #f2f2f2;
        height: 21.5vw;
        box-shadow: 0px 2px 1vw rgba(0, 0 ,0 , 0.18);
        border-radius: 2vw;
        margin-top: 1.5vw;
    }
    .listenCarefull{
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-image: url(../../../Assets/Images/coreValue/listen-carefully-01.jpg);
        background-size: cover;
        background-position-x: center;
        background-color: #f2f2f2;
        height: 21.5vw;
        box-shadow: 0px 2px 1vw rgba(0, 0 ,0 , 0.18);
        border-radius: 2vw;
        margin-top: 1.5vw;
    }
    .beHonest{
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-image: url(../../../Assets/Images/coreValue/be-honest-01.jpg);
        background-size: cover;
        background-position-x: center;
        background-color: #f2f2f2;
        height: 21.5vw;
        box-shadow: 0px 2px 1vw rgba(0, 0 ,0 , 0.18);
        border-radius: 2vw;
        margin-top: 1.5vw;
    }
    .beCreative{
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-image: url(../../../Assets/Images/coreValue/be-creative-01.jpg);
        background-size: cover;
        background-position-x: center;
        background-color: #f2f2f2;
        height: 21.5vw;
        box-shadow: 0px 2px 1vw rgba(0, 0 ,0 , 0.18);
        border-radius: 2vw;
        margin-top: 1.5vw;
    }
    .beArtistic{
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-image: url(../../../Assets/Images/coreValue/be-artistic-01.jpg);
        background-size: cover;
        background-position-x: center;
        background-color: #f2f2f2;
        height: 21.5vw;
        box-shadow: 0px 2px 1vw rgba(0, 0 ,0 , 0.18);
        border-radius: 2vw;
        margin-top: 1.5vw;
    }
    .Ocv2{
        font-size: calc(12px + 1.9vw);
        font-family: aleta-bold;
        margin-top: 0.5vw;
        color: white;
    }
}
@media only screen and (min-device-width : 1366px) and (max-device-width : 1600px) {
    .onColor{
        color: #adadad;
        margin-top: -0.2vw;
        font-size: calc(12px + 0.4vw);
        font-family: aleta-light;
    }
    .empathize{
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-image: url(../../../Assets/Images/coreValue/empathize-01.jpg);
        background-size: cover;
        background-position-x: center;
        background-color: #f2f2f2;
        height: 20.5vw;
        box-shadow: 0px 2px 1vw rgba(0, 0 ,0 , 0.18);
        border-radius: 2vw;
        margin-top: 1.5vw;
    }
    .helpGood{
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-image: url(../../../Assets/Images/coreValue/help-the-good-01.jpg);
        background-size: cover;
        background-position-x: center;
        background-color: #f2f2f2;
        height: 20.5vw;
        box-shadow: 0px 2px 1vw rgba(0, 0 ,0 , 0.18);
        border-radius: 2vw;
        margin-top: 1.5vw;
    }
    .listenCarefull{
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-image: url(../../../Assets/Images/coreValue/listen-carefully-01.jpg);
        background-size: cover;
        background-position-x: center;
        background-color: #f2f2f2;
        height: 20.5vw;
        box-shadow: 0px 2px 1vw rgba(0, 0 ,0 , 0.18);
        border-radius: 2vw;
        margin-top: 1.5vw;
    }
    .beHonest{
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-image: url(../../../Assets/Images/coreValue/be-honest-01.jpg);
        background-size: cover;
        background-position-x: center;
        background-color: #f2f2f2;
        height: 20.5vw;
        box-shadow: 0px 2px 1vw rgba(0, 0 ,0 , 0.18);
        border-radius: 2vw;
        margin-top: 1.5vw;
    }
    .beCreative{
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-image: url(../../../Assets/Images/coreValue/be-creative-01.jpg);
        background-size: cover;
        background-position-x: center;
        background-color: #f2f2f2;
        height: 20.5vw;
        box-shadow: 0px 2px 1vw rgba(0, 0 ,0 , 0.18);
        border-radius: 2vw;
        margin-top: 1.5vw;
    }
    .beArtistic{
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-image: url(../../../Assets/Images/coreValue/be-artistic-01.jpg);
        background-size: cover;
        background-position-x: center;
        background-color: #f2f2f2;
        height: 20.5vw;
        box-shadow: 0px 2px 1vw rgba(0, 0 ,0 , 0.18);
        border-radius: 2vw;
        margin-top: 1.5vw;
    }
    .Ocv2{
        font-size: calc(12px + 1.9vw);
        font-family: aleta-bold;
        margin-top: 0.5vw;
        color: white;
}
    
}
@media only screen and (min-device-width : 1600px) {
    .onColor{
        color: #adadad;
        margin-top: 1vw;
        font-size: calc(12px + 0.6vw);
        font-family: aleta-light;
    }
    .empathize{
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-image: url(../../../Assets/Images/coreValue/empathize-01.jpg);
        background-size: cover;
        background-position-x: center;
        background-color: #f2f2f2;
        height: 20.5vw;
        box-shadow: 0px 2px 1vw rgba(0, 0 ,0 , 0.18);
        border-radius: 2vw;
        margin-top: 1.5vw;
    }
    .helpGood{
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-image: url(../../../Assets/Images/coreValue/help-the-good-01.jpg);
        background-size: cover;
        background-position-x: center;
        background-color: #f2f2f2;
        height: 20.5vw;
        box-shadow: 0px 2px 1vw rgba(0, 0 ,0 , 0.18);
        border-radius: 2vw;
        margin-top: 1.5vw;
    }
    .listenCarefull{
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-image: url(../../../Assets/Images/coreValue/listen-carefully-01.jpg);
        background-size: cover;
        background-position-x: center;
        background-color: #f2f2f2;
        height: 20.5vw;
        box-shadow: 0px 2px 1vw rgba(0, 0 ,0 , 0.18);
        border-radius: 2vw;
        margin-top: 1.5vw;
    }
    .beHonest{
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-image: url(../../../Assets/Images/coreValue/be-honest-01.jpg);
        background-size: cover;
        background-position-x: center;
        background-color: #f2f2f2;
        height: 20.5vw;
        box-shadow: 0px 2px 1vw rgba(0, 0 ,0 , 0.18);
        border-radius: 2vw;
        margin-top: 1.5vw;
    }
    .beCreative{
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-image: url(../../../Assets/Images/coreValue/be-creative-01.jpg);
        background-size: cover;
        background-position-x: center;
        background-color: #f2f2f2;
        height: 20.5vw;
        box-shadow: 0px 2px 1vw rgba(0, 0 ,0 , 0.18);
        border-radius: 2vw;
        margin-top: 1.5vw;
    }
    .beArtistic{
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-image: url(../../../Assets/Images/coreValue/be-artistic-01.jpg);
        background-size: cover;
        background-position-x: center;
        background-color: #f2f2f2;
        height: 20.5vw;
        box-shadow: 0px 2px 1vw rgba(0, 0 ,0 , 0.18);
        border-radius: 2vw;
        margin-top: 1.5vw;
    }
    .Ocv2{
        font-size: calc(12px + 1.9vw);
        font-family: aleta-bold;
        margin-top: 0.6vw;
        color: white;
    }
}
.onColor:hover {
    color: red;
    cursor: pointer;
}
.onColorClicked{
    color: red;
    cursor: pointer;
}
.onColor_mob{
    color: #adadad;
    font-family: aleta-light;
    font-size: 5vw;
    margin-top: 4.5vw;
}
.onColor_mob:hover {
    color: red;
    cursor: pointer;
}
.onColor_mob_emp{
    color: red;
    font-family: aleta-light;
    font-size: 5vw;
    margin-top: 4.5vw;
}
.Ocv2_mob{
    font-size: 7vw;
    font-family: aleta-bold;
    text-align: center;
    padding-top: 10vw;
    color: white;
}
.Ocv3_mob{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-image: url(../../../Assets/Images/acf.png);
    background-size: cover;
    background-position-x: center;
    background-color: #f2f2f2;
    height: 20.5vw;
    box-shadow: 0px 2px 1vw rgba(0, 0 ,0 , 0.18);
    height: 40.5vw;
    margin-left: -4.5vw;
    width: 83.5vw;
    border-radius: 3vw;
}