.sm1{
    margin-top: 5vw;
    margin-bottom: 0.5vw;
}
.sm2{
    font-size: calc(10px + 1.9vw);
    font-family: aleta-bold;
    color: white;
}
.sm2_MoB{
    font-size: 7vw;
    font-family: aleta-bold;
    margin-top: 8vw;
    color: white;
}

.social_lst{
    padding-left: 0;
    list-style: none;
    display: flex;
}
.fB_sitesNam{
    font-family:  aleta-bold;
    color:rgb(66, 66, 66);
    text-decoration: underline;
}
.fB_sitesNam:hover{
    font-family:  aleta-bold;
    color:#3b5998;
    text-decoration: none;
    cursor: pointer;
}
.linKDi_sitesNam{
    margin-left: 2vw;
    font-family:  aleta-bold;
    color: rgb(66, 66, 66);
    text-decoration: underline;
}
.linKDi_sitesNam:hover{
    font-family: aleta-bold;
    color:#0077b5;
    text-decoration: none;
    cursor: pointer;
}
.twiTer_sitesNam{
    margin-left: 2vw;
    font-family :aleta-bold;
    color: rgb(66, 66, 66);
    text-decoration: underline;
}
.twiTer_sitesNam:hover{
    font-family: aleta-bold;
    color:#1da1f2;
    text-decoration: none;
    cursor: pointer;
}
.insta_sitesNam{
    margin-left: 2vw;
    font-family:  aleta-bold;
    color: rgb(66, 66, 66);
    text-decoration: underline;
}
.insta_sitesNam:hover{
    font-family:  aleta-bold;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    cursor: pointer;
}
.fB_sitesNam_mob{
    font-family:  aleta-bold;
    color:#3b5998;
    text-decoration: none;
    cursor: pointer;
}
.linKDi_sitesNam_mob{
    font-family:  aleta-bold;
    color:#0077b5;
    text-decoration: none;
    cursor: pointer;
    margin-left: 8vw;
}
.twiTer_sitesNam_mob{
    font-family:  aleta-bold;
    color:#1da1f2;
    text-decoration: none;
    cursor: pointer;
    margin-left: 8vw;
}
.insta_sitesNam_mob{
    font-family: aleta-bold;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    cursor: pointer;
}
/* .driBle_sitesNam{
    margin-left: 2vw;
    font-family: aleta-light;
    color: #ea4c89;
    text-decoration: underline;
}
.driBle_sitesNam:hover{
    color:black;
    text-decoration: none;
}
.driBle_sitesNam_Mob{

    font-family: aleta-light;
    color: #ea4c89;
    text-decoration: underline;
}
.driBle_sitesNam_Mob:hover{
    color:black;
    text-decoration: none;
}
.beHance_sitesNam{
    margin-left: 2vw;
    font-family: aleta-light;
    color: #1769ff;
    text-decoration: underline;
}
.beHance_sitesNam:hover{
    color:black;
    text-decoration: none;
} */