.devProDetail{
    margin-top: 10vmax;
    margin-bottom: 10vmax;
}
.devChildProDetail{
    border: 1px solid #f2f2f2;
}
.devChildProDetail:hover{
    background-color: #e0e0e0;
}
.devPrev{
    padding-left: 0vw;
    padding-top: 3vmax;
    padding-bottom: 2vmax;
}
.preHedng{
    font-family: aleta-bold;
    font-size: calc(9px + 0.7vmax);
    color: black;
}
.prePera{
    font-size: calc(14px + 0.3vw);
    font-family: aleta-light;
    color: #adadad;
}
.rightAeroImage{
    width: 5vmax;
}
.devNext{
    text-align: right;
    padding-top: 3vmax;
    padding-bottom: 2vmax;
    padding-right: 0vw;
}