.lol{
    box-shadow: 0px 2px 2vmax rgba(0, 0 ,0 , 0.12);
        height: 5vmax;
        margin-top: 1vmax;
        border-radius: 1vw;
        margin-left: 9.2vmax;
        margin-right: 9.2vmax;
        background-color: white;
}


















