.market{
    background-image: url(../../Assets/Images/imagecompressor/marketing-min.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 1vw;
    height: 23.5vmax;
    position: absolute;
}
.development{
    background-image: url(../../Assets/Images/imagecompressor/dev-min.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 1vw;
    height: 23.5vmax;
    position: absolute;
}
.design{
    background-image: url(../../Assets/Images/imagecompressor/design-min.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 1vw;
    height: 23.5vmax;
    position: absolute;
}
.production{
    background-image: url(../../Assets/Images/imagecompressor/production-min.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 1vw;
    height: 23.5vmax;
    position: absolute;
}
.hedngSir{
    font-family: aleta-bold;
    font-size: calc(16px + 1.8vw);
    margin-bottom: 3vw;
    color:white;
}
.marketDev2{
    position: relative;
    padding: 0vw;
    margin-bottom: 10vmax;
}
.marketChildDev{
    padding-left: 4.1vw;
}
.hedngMarket{
    margin-top: 3.1vmax;
    margin-bottom: 3.1vmax;
    font-size: calc(10px + 1.4vw);
    font-family: aleta-bold;
    color: white;
}
.marketChildDev1{
    box-shadow: 0px 2px 1.9vw rgba(0, 0 ,0 , 0.18);
    background-color: white;
    padding: 3vw;
    border-radius: 1vw;


    width: 22.3vw;
    margin-left: 4.1vw;
}
.marketChildDev2{
    /* height: 10vmax; */
    margin-top: 9vmax;
    background-color: white;
    padding: 3.6vw;
    box-shadow: 0px 2px 1.9vw rgba(0, 0 ,0 , 0.18);
    border-radius: 1vw;


    width: 22.3vw;
    margin-left: 4.1vw;
}
.marketPera{
    font-family: aleta-light;
    font-size: calc(12px + 0.3vw);
    color: #adadad;
    letter-spacing: -0.05vmax;
    line-height: 2.2vw;
}
.weOffer{
    font-size: calc(12px + 0.3vw);
    font-family: aleta-bold;
}
.offerPeras{
    padding-left: 1vw;
    font-family: aleta-light;
    font-size: calc(12px + 0.3vw);
    color: #adadad;
    letter-spacing: -0.05vmax;
    line-height: 2.2vw;
}
.peraAero{
    font-family: aleta-bold;
    font-size: calc(12px + 0.3vw);
    color: black;
}

/* mobile css */
.marketMob{
    background-image: url(../../Assets/Images/consultation.png);
    background-size: cover;
    background-position: center;
    border-radius: 1vw;
    height: 65vh;
    position: absolute;
}
.developmentMob{
    background-image: url(../../Assets/Images/dev.png);
    background-size: cover;
    background-position: center;
    border-radius: 1vw;
    height: 65vh;
    position: absolute;
}
.designMob{
    background-image: url(../../Assets/Images/design.png);
    background-size: cover;
    background-position: center;
    border-radius: 1vw;
    height: 65vh;
    position: absolute;
}
.productionMob{
    background-image: url(../../Assets/Images/production.png);
    background-size: cover;
    background-position: center;
    border-radius: 1vw;
    height: 65vh;
    position: absolute;
}
.marketChildDevMob1{
    box-shadow: 0px 2px 1.9vw rgba(0, 0 ,0 , 0.18);
    background-color: white;
    padding: 3vmax;
    border-radius: 1vw;
    background-color: #fafafa;


    width: 83.3vw;
    margin-left: 4.1vw;
}
.marketChildDevMob2{
    /* height: 10vmax; */
    margin-top: 3vmax;
    background-color: white;
    padding: 3.6vmax 3.6vmax 2vmax 3.6vmax;
    box-shadow: 0px 2px 1.9vw rgba(0, 0 ,0 , 0.18);
    border-radius: 1vw;
    background-color: #fafafa;


    width: 83.3vw;
    margin-left: 4.1vw;
}
.LP_AeroImg{
    width: 4vmax;
    margin-left: 0.5vmax;
}
.marketPeraMob{
    font-family: aleta-light;
    font-size: calc(12px + 0.3vw);
    color: #adadad;
    letter-spacing: -0.05vmax;
    line-height: 6vw;
}
.offerPerasMob{
    padding-left: 1vw;
    font-family: aleta-light;
    font-size: calc(12px + 0.3vw);
    color: #adadad;
    letter-spacing: -0.05vmax;
    line-height: 6vw;
}