.companiesLogo{
    margin-bottom: 9.6vw;
    width: 5vmax;
}
.companiesLogo1{
    margin-bottom: 9.6vw;
    width: 7vmax;
}
.companiesLogo2{
    margin-bottom: 9.6vw;
    width: 10vmax;
    margin-top: 2vw;
}
.logos{
    text-align: left;
    padding: 0vw;
}
.clients{
    font-size: calc(10px + 1.8vw);
    font-family: aleta-bold;
    color: white;
    padding-bottom: 4.2vw;
}
.sOClients{
    margin-top: 5.7vw;

}