.mainDemoImgpro{
    border-radius: 1vmax;
    height: 34vmax;
    margin-top: 1vmax;
    width: 100%;
}

.sumShortHedngpro{
    margin-top: 2vmax;
    font-size: calc(9px + 0.7vmax);
    font-family: aleta-bold;
    color: black;
}
.sumPerapro{
    margin-top: 1vmax;
    font-size: calc(12px + 0.3vw);
    font-family: aleta-light;
    color: #adadad;
    line-height: 2.2vmax;
    padding-right: 3vw;
}