.finalHedng{
    font-family: aleta-bold;
    font-size: calc(12px + 0.7vmax);
    margin-top: 10vmax;
    color: black;
}
.devFinal{
    background-color: orange;
    height: 42vmax;
    border-radius: 1vmax;
    margin-top: 3vmax;
}