@media only screen and (min-device-width : 300px) and (max-device-width : 768px) {
    .baner_Text{
        color: 	white;
        font-size: calc(12px + 4.6vw);
        font-family: aleta-bold;
        text-align: center;
    }
    .backk_Text{
        color: #ffffff;
        font-size: calc(12px + 4.6vw);
        font-family: aleta-bold;
        margin-left: -1.4vw;
    }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1023px) {
    .baner_Text{
        color: 	white;
        font-size: calc(12px + 3.4vw);
        font-family: aleta-bold;
        text-align: center;
        margin-left: -4.3vw;
    }
    .backk_Text{
        color: #ffffff;
        font-size: calc(12px + 3.4vw);
        font-family: aleta-bold;
        margin-left: -1.4vw;
    }
}
@media only screen and (min-device-width : 1024px) and (max-device-width : 1365px) {
    .baner_Text{
        color: white;
        font-size: calc(12px + 4.3vw);
        font-family: aleta-bold;
        text-align: left;
        letter-spacing: 0.1vw;
        margin-left: -1.7vw;
    }
    .backk_Text{
        color: #ffffff;
        font-size: calc(12px + 4.3vw);
        font-family: aleta-bold;
        margin-left: -1.4vw;
    }
}
@media only screen and (min-device-width : 1366px) and (max-device-width : 1600px)  {
    .baner_Text{
        color: white;
        font-size: calc(12px + 4.5vw);
        font-family: aleta-bold;
        text-align: left;
        margin-left: -1.5vw;
    }
    .backk_Text{
        color: #ffffff;
        font-size: calc(12px + 4.6vw);
        font-family: aleta-bold;
        margin-left: -1.4vw;
    }
}
@media only screen and (min-device-width : 1600px) {
    .baner_Text{
        color: white;
        font-size: calc(12px + 4.6vw);
        font-family: aleta-bold;
        text-align: left;
        margin-left: -1vw;
        letter-spacing: 0.1vw;
    }
    .backk_Text{
        color: #ffffff;
        font-size: calc(12px + 4.6vw);
        font-family: aleta-bold;
        margin-left: -1.4vw;
    }
}
.rawWW_BOtop{
    padding-top: 17vw;
    margin-bottom: 12.5vw;
}
.whitEArow{
    height: 6vw;
    margin-left: 2vw;
    margin-top: -0.5vw;
}
.backgrond_baner{
    background-image: url("../../../Assets/Images/mobile.png");
   border-radius: 1vw;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   background-position-x: center;
   padding-top: 15vw;
   display: inline-flex;
   padding-bottom: 6vw;
}

.backMob_baner{
    background-image: url("../../../Assets/Images/mobile.png");
    border-radius: 3vw;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   background-position-x: center;
   padding-top: 16vw;
    padding-bottom: 4vw;
    height: 41vw;
}
.backkMOB_Textblck{
    color: #ffffff;
    font-size: calc(12px + 5.5vw);
    font-family: aleta-bold;
    margin-top: 1.01vw;
    margin-left: -5vw;
}
.backkMOB_Textblck_linE{
    color: white;
    font-size: calc(12px + 5.5vw);
    font-family: aleta-bold;
    margin-top: -14.5vw;
    margin-left: -3.6vw;
}
.backkMOB_Textblck_hi{
    color: white;
    font-size: calc(12px + 5.5vw);
    font-family: aleta-bold;
    margin-top: 17vw;
    margin-left: -3.6vw;
}
.backkMOB_Text{
    color: #ffffff;
    font-size: calc(12px + 5.5vw);
    font-family: aleta-bold;
    margin-top: -3.2vw;
    margin-left: -1vw;
}
.dv_iNlinNE{
    display: -webkit-box;
}













