.visulIdntityHedng{
    margin-top: 5vmax;
    font-size : calc(12px + 0.4vmax);
    font-family: aleta-bold;
    color: #888484;
}
.devVidentity{
    padding-left: 0vw;
}
.V-IdentityLogo{
    margin-top: 3vmax;
    font-size : calc(9px + 0.7vmax);
    font-family: aleta-bold;
    color: black;
}
.IdentityPera{
    margin-top: 1vmax;
    font-size: calc(12px + 0.3vw);
    font-family: aleta-light;
    color: #adadad;
    line-height: 2.2vmax;
    padding-right: 3vw;
}
.D-logo{
    margin-top: 3vmax;
    /* width: calc(50px + 16vmax); */
}
.devVidentity2{
    padding-left: 0vw;
}
.visulIdntityshortHedng{
    margin-top: 3vmax;
    font-size : calc(9px + 0.7vmax);
    font-family: aleta-bold;
    color: black;
}
.IdentityPera2{
    margin-top: 1vmax;
    font-size: calc(12px + 0.3vw);
    font-family: aleta-light;
    color: #adadad;
    line-height: 2.2vmax;
    padding-right: 3vw;
}
.devVidentity3{
    display: inline-block;
    padding-left: 0vw;
}
.devColors{
    height: 3vmax;
    width: 3vmax;
    margin-top: 5vmax;
    float: left;
    margin-right: 3vmax;
}
.devVidentity4{
    padding-left: 0vw;
}
.visulIdntityshortHedng1{
    margin-top: 3vmax;
    font-size: calc(9px + 0.7vmax);
    font-family: aleta-bold;
    color: black;
}
.IdentityPera3{
    margin-top: 1vmax;
    font-size: calc(12px + 0.3vw);
    font-family: aleta-light;
    color: #adadad;
    line-height: 2.2vmax;
    padding-right: 3vw;
}
.visulIdntityshortHedng2{
    font-size: calc(10px + 1.9vmax);
    margin-top: 3vmax;
    color: black;
}
.visulIdntityshortHedng3{
    font-size: calc(10px + 0.9vmax);
    color: black;
}
.IdentityPeraMob{
    
    color: #adadad;
    letter-spacing: -0.05vmax;
    line-height: 6vw;
    margin-top: 1vmax;
    font-size : calc(9px + 0.7vmax);
    font-family: aleta-light;
    padding-right: 3vw;
}
.IdentityPeraMob2{
    margin-top: 1vmax;
    font-size : calc(9px + 0.7vmax);
    font-family: aleta-light;
    padding-right: 3vw;
    color: #adadad;
    letter-spacing: -0.05vmax;
    line-height: 6vw;
}

.finalHedng{
    font-family: aleta-bold;
    font-size: calc(12px + 0.7vmax);
    margin-top: 5vmax;
    color: black;
    text-align: left;
}
.devFinal{
    /* background-color: orange; */
    height: 42vmax;
    width: 100%;
    border-radius: 1vmax;
    margin-top: 3vmax;
}

.webHedng{
    font-family: aleta-bold;
    font-size: calc(12px + 0.7vmax);
    margin-top: 7vmax;
    color: black;
    text-align: left;
}
.videoDemo{ 
    height: 42vmax; 
    /* border-radius: 1vmax; */
    margin-top: 3vmax;
    width: 100%;
}


.illustrImg1{
    /* height: 15vmax; */
    margin-top: 2vmax;
    width: 100%;
}

.illustrImgMob1{
    /* height: 25vh; */
    margin-top: 2vmax;
    width: 100%;
}
.devIlustration{
    padding-left: 0vw;
}
.IlustrationHedng{
    font-family: aleta-bold;
    font-size: calc(12px + 0.7vmax);
    margin-top: 10vmax;
    color:black;
}
.IlustrationPera{
    margin-top: 1vmax;
    font-size: calc(12px + 0.3vw);
    font-family: aleta-light;
    color: #adadad;
    line-height: 2.2vmax;
    padding-right: 3vw;
}
.IlustrationPeraMob{
    margin-top: 1vmax;
    padding-right: 3vw;
    font-size: calc(12px + 0.3vw);
    font-family: aleta-light;
    color: #adadad;
    letter-spacing: -0.05vmax;
    line-height: 6vw;
}