
@media only screen and (min-device-width : 300px) and (max-device-width : 767px) {
    .banner_textStyle{
        font-size: calc(12px + 4vw);
        color: white;
        font-family: aleta-bold;
        margin-left: 3.5vw;
    }
    .latest_text{
        font-size: calc(10px + 0.6vw);
        font-family: aleta-bold;
        margin-left: 4vw;
        color: white;
    }
    .rebrand_text{
        font-size: calc(10px + 0.4vw);
        font-family: aleta-light;
        margin-left: 3vw;
        color: #8f8f8f;
    }
    .arrow_banImg{
        margin-top: -1.5vw;
        margin-left: 3vw;
        width: 13vw;
        height: 8vw;
    }
    .raw_marg{
        padding-top: 38vw;
        padding-bottom: 5vw;
    }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1023px) {
    .banner_textStyle{
        font-size: calc(12px + 4vw);
        color: white;
        font-family: aleta-bold;
    }
    .latest_text{
        font-size: calc(10px + 0.6vw);
        font-family: aleta-bold;
        margin-left: 0.2vw;
        color: white;
    }
    .rebrand_text{
        font-size: calc(10px + 0.5vw);
        font-family: aleta-light;
        margin-left: 0.2vw;
        color: #8f8f8f;
    }
    .arrow_banImg{
        margin-top: -1.5vw;
        margin-left: 1vw;
    }
    .raw_marg{
        padding-top: 20vw;
        padding-bottom: 5vw;
    }
}
@media only screen and (min-device-width : 1024px) and (max-device-width : 1365px) {
    .banner_textStyle{
        font-size: calc(12px + 4vw);
        color: white;
        font-family: aleta-bold;
    }
    .latest_text{
        font-size: calc(10px + 0.6vw);
        font-family: aleta-bold;
        margin-left: 0.2vw;
        color: white;
    }
    .rebrand_text{
        font-size: calc(10px + 0.5vw);
        font-family: aleta-light;
        margin-left: 0.2vw;
        color: #8f8f8f;
    }    
    .arrow_banImg{
        margin-top: -1.5vw;
        margin-left: 1.7vw;
        width: 7vw;
    }
    .raw_marg{
        padding-top: 23vw;
        padding-bottom: 5vw;
    }
}
@media only screen and (min-device-width : 1366px) and (max-device-width : 1600px){
    .banner_textStyle{
        font-size: calc(12px + 4vw);
        color: white;
        font-family: aleta-bold;
    }
    .latest_text{
        font-size: calc(10px + 0.6vw);
        font-family: aleta-bold;
        margin-left: 0.2vw;
        color: white;
    }
    .rebrand_text{
        font-size: calc(10px + 0.5vw);
        font-family: aleta-light;
        margin-left: 0.2vw;
        color: #8f8f8f;
    }
    .arrow_banImg{
        margin-top: -0.9vw;
        margin-left: 1vw;
        width: 5vw;
    }
    .raw_marg{
        padding-top: 23vw;
        padding-bottom: 5vw;
    }
}
@media only screen and (min-device-width : 1600px) {
    .banner_textStyle{
        font-size: calc(12px + 4vw);
        color: white;
        font-family: aleta-bold;
    }
    .latest_text{
        font-size: calc(10px + 0.6vw);
        font-family: aleta-bold;
        margin-left: 0.2vw;
        color: white;
    }
    .rebrand_text{
        font-size: calc(10px + 0.5vw);
        font-family: aleta-light;
        margin-left: 0.2vw;
        color: #8f8f8f;
    }
    .arrow_banImg{
        margin-top: -0.9vw;
        margin-left: 1vw;
        width: 5vw;
    }
    .raw_marg{
        padding-top: 23vw;
        padding-bottom: 5vw;
    }
}
